

       <div class="alert alert-danger" role="alert" id='group-flat-error' style='display:none'>
       </div>
       <div class="alert alert-success" role="alert" id='group-flat-success' style='display:none'>
       </div>

<div class="card">
  <div class="card-body" style='background-color: #f3f3f3'> 
            <div class="row">
                  <div class="col-sm-12" style="margin-top: 1em">
                {% if booking.status == 'Paid' or booking.status == 'Over Paid' or booking.status == 'Canceled - Payment (Paid)' %}
		              {% if booking.is_canceled is not True %}
                              <p><i class="bi bi-file-pdf-fill" style='color:red'></i> <a href="{% url 'get_confirmation' booking.id %}" style='color:red; text-decoration:none'>Booking Confirmation</a>
			      {% endif %}
                              {% for inv in invoices %}
                              <i class="bi bi-file-pdf-fill" style='color:red'></i> <a href="/ledger-toolkit-api/invoice-pdf/{{ inv }}" target="invoice-pdf-{{ inv }}" style='color:red; text-decoration: none;'>Invoice #{{ inv }}</a></p>
                              {% endfor %}

                {% else %}
		              
                {% endif %}
                 </div>
              </div>
              <div class="row">

		<div class="col-sm-12">
                       <div class="row">
                           <div class="col-sm-4">
                               <b>Campground</b>
                           </div>
                           <div class="col-sm-8">
 				{{ booking.campground.name }}, {{ booking.campground.park.name }}
                           </div>
                       </div>

                       <div class="row">
                           <div class="col-sm-4">
                               <b>Campsite</b>
                           </div>
                           <div class="col-sm-8">
		           {% if booking.details.selecttype == 'multiple' %}
                               Multiple Sites Selected
			   {% else %}
                               {% if booking.campground.site_type == 2 %}
                                   {{ booking.first_campsite.type }}
                               {% else %}
   			           {{ booking.first_campsite.name }} {% if booking.first_campsite.type %}{{ booking.first_campsite.type }}{% endif %}
                               {% endif %}
			   {% endif %}
                           </div>
	               </div>
            <div class="row">
                <div class="col-sm-4">
                    <b>Dates</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.stay_dates }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <b>Number of campers</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.stay_guests }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <b>Payment status</b>
                </div>
                <div class="col-sm-8">
                    {% if booking.status == 'Over Paid' %}
                        Paid
                    {% else %}
                        {{ booking.status }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                  <div class="col-sm-12" style="margin-top: 1em">
                        {% if booking.arrival > today %}
                            {% if booking.is_canceled is not True %}
                                 {% if booking.details.no_payment == 'true' or booking.details.selecttype == 'multiple' or booking.customer_managed_booking_disabled is True %}
                                 <b>Please contact staff for booking changes</b>&nbsp;&nbsp;
                                 {% else %}
                                 <a class="btn btn-primary" href='{% url "cancel_booking" booking.id %}'>Cancel booking</a>
                                 <a class="btn btn-primary" href='/booking/change/{{ booking.id }}/' >Change booking</a>
                                 {% endif %}
                                 <button type="button" class="btn btn-primary" onclick="search_avail.open_vehicle_updates('{{ booking.id }}');">Change vehicle registration number(s)</button>
                            {% endif %}
                        {% endif %}
                        {% if booking.arrival <= today and booking.departure >= today %}
                            {% if booking.is_canceled is not True %}
                               {% if booking.details.no_payment == 'true' or booking.details.selecttype == 'multiple' or booking.customer_managed_booking_disabled is True %}
                                  <b>Please contact staff for booking changes</b>&nbsp;&nbsp;
                               {% else %}
                                    <div style='margin-bottom: 10px; border:1px solid #a9a9a9; background-color: #dcdada; padding:2px; font-size: 12px; color: red;'>The only change that can be made here is to the departure date. Check your booking confirmation email for more.</div>
                                   <a class="btn btn-primary" href='/booking/change/{{ booking.id }}/' >Change Booking</a>
                               {% endif %}
                            {% endif %}

                        {% endif %}




		  </div>




		</div>
     </div>
  </div>
</div>
</div>
<BR>
<div class="card">
    <div class="card-body" style='background-color: #f9e6e6; font-size: 20px;'> 
        If you are using a shared device log out to protect your personal information.<BR><BR>
        <a class='btn btn-danger' href="/logout/?next=/&relogin=/">Logout</a>
    </div>
</div>