<div class="card">
  <div class="card-header">
      <div class="row">
      <div class="col-sm-6">
      {% if booking.departure > today %}
           {% if booking.is_canceled is True %}

	      {% if booking.property_cache_stale is True %}
                  <h4><span class="badge bg-danger ">CANCEL PENDING</span> {{ booking.confirmation_number }}</h4>
	      {% else %}
                  <h4><span class="badge bg-danger ">CANCELLED</span> {{ booking.confirmation_number }}</h4>
	      {% endif %}

           {% else %}
	      {% if booking.property_cache.status|length == 0 or booking.property_cache_stale is True %}
                  <h4><span class="badge bg-secondary ">PENDING</span> {{ booking.confirmation_number }}</h4>
	      {% else %}
                  {% if booking.departure >= today and booking.arrival <= today %}
                      <h4><span class="badge bg-warning ">CURRENT</span> {{ booking.confirmation_number }}</h4>
                  {% else %}
                      {% if booking.property_cache.status == 'Unpaid' %}
                          <h4><span class="badge bg-info ">PAYMENT REQUIRED</span> {{ booking.confirmation_number }}</h4>
	              {% else %}
                      <h4><span class="badge bg-success ">CONFIRMED</span> {{ booking.confirmation_number }}</h4>
	              {% endif %}
                  {% endif %}
	      {% endif %}
           {% endif %}
      {% else %}
           {% if booking.is_canceled is True %}
	        {% if booking.property_cache_stale is True %}
		    <h4><span class="badge bg-danger ">CANCEL PENDING</span> {{ booking.confirmation_number }}</h4>
		{% else %}
           	    <h4><span class="badge bg-danger ">CANCELLED</span> {{ booking.confirmation_number }}</h4>
		{% endif %}
           {% else %}
             	{% if booking.departure >= today and booking.arrival <= today %} 
                       <h4><span class="badge bg-warning ">CAMPING NOW</span> {{ booking.confirmation_number }}</h4>
           	{% else %}
                       <h4><span class="badge bg-success ">COMPLETED</span> {{ booking.confirmation_number }}</h4>
           	{% endif %}
           {% endif %}
      {% endif %}
     </div>
     <div class="col-sm-6 text-end">
     </div> 
     </div>
  </div>
  <div class="card-body"> 
            <div class="row">
                <div class="col-sm-12" style="margin-top: 1em">
                {% if booking.property_cache.status == 'Paid' or booking.property_cache.status == 'Over Paid' or booking.property_cache.status == 'Canceled - Payment (Paid)' or booking.property_cache.status == 'Canceled' %}
		              {% if booking.is_canceled is not True %}
                              <p><i class="bi bi-file-pdf-fill" style='color:red'></i> <a href="{% url 'get_confirmation' booking.id %}" style='color:red; text-decoration:none'>Booking Confirmation</a>
			      {% endif %}
			      {% for inv in booking.property_cache.invoices %}
			      <i class="bi bi-file-pdf-fill" style='color:red'></i> <a href="/ledger-toolkit-api/invoice-pdf/{{ inv }}" target="invoice-pdf-{{ inv }}" style='color:red; text-decoration: none;'>Invoice #{{ inv }}</a></p>
			      {% endfor %}
                {% else %}
		             
                {% endif %}
                 </div>
              </div>
              <div class="row">


		<div class="col-sm-12">
                       <div class="row">
                           <div class="col-sm-4">
                               <b>Campground</b>
                           </div>
                           <div class="col-sm-8">
 				{{ booking.campground.name }}, {{ booking.campground.park.name }}
                           </div>
                       </div>

                       <div class="row">
                           <div class="col-sm-4">
                               <b>Campsite</b>
                           </div>
                           <div class="col-sm-8">
                           {% if booking.details.selecttype == 'multiple' %}
                               Multiple Sites Selected
                           {% else %}
			      
                               {% if booking.campground.site_type == 2 %}
                                   {{ booking.first_campsite.type }}
                               {% else %}
                                   {{ booking.first_campsite.name }} {% if booking.first_campsite.type %}{{ booking.first_campsite.type }}{% endif %}
                               {% endif %}
                           {% endif %}
                           </div>
	               </div>
            <div class="row">
                <div class="col-sm-4">
                    <b>Dates</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.stay_dates }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <b>Number of campers</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.stay_guests }}
                </div>
            </div>
	    {% if booking.old_booking > 0 %}
            <div class="row">
                <div class="col-sm-4">
                    <b>Previous Booking</b>
                </div>
                <div class="col-sm-8">
                    PB{{ booking.old_booking }}
                </div>
            </div>
	    {% endif %}
            <div class="row">
                <div class="col-sm-4">
                    <b>Payment status</b>
                </div>
                <div class="col-sm-8">
                    {% if booking.property_cache.status == 'Over Paid' %}
                        Paid
                    {% else %}
		         {% if booking.property_cache.status|length == 0 %}
			     <span style='color: #ff0000'>PENDING UPDATE</span>
			 {% else %}
			     {{ booking.property_cache.status }}
			 {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                  <div class="col-sm-12" style="margin-top: 1em">
			{% if booking.arrival > today %}
			    {% if booking.is_canceled is not True %}
			         {% if booking.details.no_payment == 'true' or booking.details.selecttype == 'multiple' %}
				 <div class='my-account-msg-box'>Please contact {{ booking.contact_name }} on {{ booking.contact_phone_number }} to change or cancel. </b>&nbsp;&nbsp;</div>
				 {% else %}
                                 <a class="btn btn-primary" href='{% url "cancel_booking" booking.id %}'>Cancel booking</a>
                                 <a class="btn btn-primary" href='/booking/change/{{ booking.id }}/' >Change booking</a>
				 {% endif %}
				 <button type="button" class="btn btn-primary" onclick="search_avail.open_vehicle_updates('{{ booking.id }}');">Change vehicle registration number(s)</button>
			    {% endif %}
			{% endif %}
			{% if booking.arrival <= today and booking.departure >= today %}
			    {% if booking.is_canceled is not True %}
			       {% if booking.details.no_payment == 'true' or booking.details.selecttype == 'multiple' %}
			       <div class='my-account-msg-box'>Please contact {{ booking.contact_name }} on {{ booking.contact_phone_number }} to change or cancel. </b>&nbsp;&nbsp;</div>

                               {% else %}
			            <div class='my-account-msg-box'>The only change that can be made here is to the departure date. Check your booking confirmation email for more.</div>
                                   <a class="btn btn-primary" href='/booking/change/{{ booking.id }}/' >Change Booking</a>
			       {% endif %}
			    {% endif %}

			{% endif %}

		  </div>
	     </div>
     </div>
  </div>
</div>
</div>

<br>

