{% extends 'ps/base.html' %}
{% load static %}
{% load forms %}
{% block content %}

   {% if booking.is_canceled is False %}
  
    {% include "ps/modal_loader.html" %}
    {% include "ps/modal_error.html" %}

    
     <div class="modal" tabindex="-1" id='CancellationConfirm' aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title">Are you sure?</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <p>Please confirm that you wish to cancel your booking.</p>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
             <button type="button" id='cancellation_confirm_btn' class="btn btn-danger">Confirm</button>
           </div>
         </div>
       </div>
     </div>
     
    <div class="modal" tabindex="-1" id='CancellationComplete' aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
              <div class="container">
                    <div class="row">

                   <div class="col-12 col-sm-12 text-center">
                  	  <center>
                           <div style='max-width:100%; background-color: #fbfbfb; ipadding: 20px; border-radius: 1px; ' stylea='box-shadow: -1px 1px 5px 0px rgba(138,138,138,0.75);
                               -webkit-box-shadow: -1px 1px 5px 0px rgba(138,138,138,0.75);
                               -moz-box-shadow: -1px 1px 5px 0px rgba(138,138,138,0.75);'>

                       <div class="col-12 text-center" style='background-color: #00a900; padding: 10px; color: #FFFFFF;'>
                               <h1><i class="bi bi-check-circle" style="color: #FFFFFF; font-size: 90px;"></i></h1>
                               <p class='fw-bold'>Successful!</p>
                       </div>
                       <div class="col-12 text-center fw-bold">
                              <br>
                       </div>
                       <div class="col-12 text-center" style='padding: 20px;'>

                                <div class="col-12 text-center">
                                        <p>Your cancellation for booking PB{{ booking.id }} is complete.</p>
                                        <p>Any refunds related to this booking have been completed.  Please allow 2-5 business days for any refunds to appear in your account.</p>
                                </div>
                                <div class="col-12 text-center">
                                        <br>
                                        <a href='{% url "search_availability_information" %}' class="btn btn-primary">Make Booking</a>
                                        <a href='{% url "public_my_bookings" %}' class="btn btn-primary">My Bookings</a>

                                </div>
                                <BR>
                                <div class="col-12 text-center">
                                        <div class="card-body" style='background-color: #fdf2f2; font-size: 20px;'> 
                                                If you are using a shared device log out to protect your personal information.<BR><BR>
                                                <a class='btn btn-primary' href="/logout/?next=/&relogin=/">Logout</a>
                                        </div>
                                </div>

                        </div>
                  	  </center>
                     </div>

                  </div>
              </div>
          </div>
        </div>
      </div>
    

    <div class="container">
        <h3>Cancel Booking</h3>
	<form method='POST' action="?" id='cancellation_form'>
	     {% csrf_token %}
	     <div class="round-box col-12 px-3"> 
	         <div class="col-12">
			 <p>You are requesting to cancel your booking PB{{ booking.id }} at campground with arrival {{ booking.arrival|date:"d M Y" }} and departure {{ booking.departure|date:"d M Y" }}  <b>{{ booking.campground.name }}</b>.</p>

			 <p id='totalbooking_refund'>If you continue with the cancellation of this booking you will be refunded <span style='color: green; font-weight:bold;'>${{ totalbooking }}</span> which is including any cancellation fees.</p>
			 <p style='display:none' id='totalbooking_refund_no_fees'>If you continue with the cancellation of this booking you will be refunded <span style='color: green; font-weight:bold;'>${{ totalbooking_no_fees }}</span>.</p>
			 <p style='display:none' id='totalbooking_refund_no_refund'>If you continue with the cancellation of this booking you will be refunded <span style='color: green; font-weight:bold;'>$0.00</span>.</p>

			 <p>To complete this booking cancellation please click the "Complete Cancellation" button below.</p>
 	         </div>
	     </div>

	     <div class="row">
                 <div class="col-6">


                 </div>
                 <div class="col-6 text-end">
			{% if only_cancel_booking is True %}
                               <div style=''>
				   <input type='checkbox' value='' class="form-check-input"  id="cancel_booking_with_full_refund"  >
                                   <label class="form-check-label">
					   Full Refund <br><small><i>no cancel fees</i></small>
                                   </label>
				 </div>
				<div>
                                        {{ booking.arrival }} {{ today }}
                                   <input type='checkbox' value='' class="form-check-input"  id="only_cancel_booking"
                                   <label class="form-check-label" >
                                     Only cancel booking. <br><small><i>no refund or cancel fees</i></small> 
                                   </label>
                               </div>
                               <br>
			{% endif %}

                 </div>                  

	         <div class="col-6">
	         </div>
                 <div class="col-6 text-end">
                        <button type="button" class="btn btn-primary">Cancel</button>
	         	<button id='cancellation_btn' type="button" class="btn btn-danger" onclick="cancellation.cancel();" >Complete Cancellation</button>
                 </div>
	     </div>
	</form>
    </div>
<script>
	var cancellation = {
		cancel: function() { 
                         $('#CancellationConfirm').modal('show');
			//$('#cancellation_form').submit();

		}
	}

        $('#cancel_booking_with_full_refund').click(function() {
               $('#only_cancel_booking').prop( "checked", false );
	       $('#totalbooking_refund').show();
		$('#totalbooking_refund_no_refund').hide();
	       if ($(this).is(":checked")) { 
		  $('#totalbooking_refund_no_fees').show();
                  $('#totalbooking_refund').hide();
	       } else {
                  $('#totalbooking_refund').show();
		   $('#totalbooking_refund_no_fees').hide();

	       }

	});

        $('#only_cancel_booking').click(function() {
               $('#cancel_booking_with_full_refund').prop( "checked", false );
	       $('#totalbooking_refund_no_fees').hide();
	       $('#totalbooking_refund').hide();
	       $('#totalbooking_refund_no_refund').hide();
               if ($(this).is(":checked")) {
		   $('#totalbooking_refund_no_refund').show();

	       } else {
                   $('#totalbooking_refund').show();
	       }
        });

        $('#cancellation_btn').click(function() {
                $('#CancellationConfirm').modal('show'); 
        });

        $('#cancellation_confirm_btn').click(function() {
		$('#CancellationConfirm').modal('hide');
                var only_cancel_booking = false;
		var cancel_booking_with_full_refund = false;
                var ocb = $('#only_cancel_booking');
		var cbfr = $('#cancel_booking_with_full_refund');
                var post_data = {};
                if (ocb.is( ":checked" )) {
                       only_cancel_booking = true;
                }
		if (cbfr.is(":checked")) {
		       cancel_booking_with_full_refund = true;

		}
                 
                post_data = {'only_cancel_booking': only_cancel_booking, 'cancel_booking_with_full_refund': cancel_booking_with_full_refund};
               
		$('#LoadingPopup').modal('show');
                $.ajax({
                    url: "?",
                    method: 'POST',
                    //dataType: 'json',
                    // contentType: 'application/json',
		    headers: {'X-CSRFToken' : '{{ csrf_token }}'},
                    data: post_data,
                    success: function(response) {
			    //$('#LoadingPopup').modal('hide');
			    if (response['status']  == 200 && response['message'] == 'success') {
				    $('#CancellationComplete').modal('show');
		            }
                    },
                    error: function(error) {
                        $('#LoadingPopup').modal('hide');
                        $('#error-title').html('Error');
                        $('#error-message').html(error);
                        $('#MessageBox').modal('show');
                        console.log('Error performing cancellation');
                    },
                });
                //$('#cancellation_form').submit();                    
	});

</script>
{% else %}
 <div class="container">

<div class="alert alert-danger" role="alert" id='popup-error'> This booking has already been cancelled </div>
 </div>


{% endif %}


{% endblock %}
