{% extends 'ps/base.html' %}
{% load static %}
{% load forms %}
{% block content %}
    <div class="container">
	  <div class="row">
         <div class="col-1 col-sm-0">
               &nbsp;
	  </div>
		  
         <div class="col-10 col-sm-6 text-center">
		 <div style='max-width:400px; background-color: #fbfbfb; ipadding: 20px; border-radius: 1px; ' stylea='box-shadow: -1px 1px 5px 0px rgba(138,138,138,0.75);
		     -webkit-box-shadow: -1px 1px 5px 0px rgba(138,138,138,0.75);
		     -moz-box-shadow: -1px 1px 5px 0px rgba(138,138,138,0.75);'>	
              
	     <div class="col-12 text-center" style='background-color: #00a900; padding: 10px; color: #FFFFFF;'> 
		     <h1><i class="bi bi-check-circle" style="color: #FFFFFF; font-size: 90px;"></i></h1>
		     <p class='fw-bold'>Successful!</p>
	     </div>
	     <div class="col-12 text-center fw-bold">
                    <br>
	     </div>
	     <div class="col-12 text-center" style='padding: 20px;'>

                 <div class="col-12 text-center">
	                 <p>Your cancellation for booking PB{{ booking.id }} is complete.</p>
	                 <p>Any refunds related to this booking have been completed.  Please allow 2-5 business days for any refunds to appear in your account.</p>
	         </div>
	         <div class="col-12 text-center">
	                 <br>
	                 <a href='{% url "search_availability_information" %}' class="btn btn-primary">Make Booking</a>
	                 <a href='{% url "public_my_bookings" %}' class="btn btn-primary">My Bookings</a>

	         </div>
			 <BR>
			<div class="col-12 text-center">
				<div class="card-body" style='background-color: #fdf2f2; font-size: 20px;'> 
					If you are using a shared device log out to protect your personal information.<BR><BR>
					<a class='btn btn-primary' href="/logout/?next=/&relogin=/">Logout</a>
				</div>
			</div>

	      </div>


	   </div>

         <div class="col-1 col-sm-3">
               &nbsp;
          </div>
	  </div>
        </div>
    </div>
{% endblock %}
