{% extends 'ps/base.html' %}
{% load static %}
{% block extra_css %}
    {{ block.super }}
    <style>
        .bold{
            font-weight: bold;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            border:none;
        }
    </style>
{% endblock %}
{% block content %}
        {% include "ps/modal_loader.html" %}
        {% include "ps/modal_error.html" %}
        {% include "ps/modal_booking_vehicle_updates.html" %}
	

    <div class="container">

       <div class="alert alert-danger" role="alert" id='group-flat-error' style='display:none'>
       </div>
       <div class="alert alert-success" role="alert" id='group-flat-success' style='display:none'>
       </div>

    <h2>My Bookings</h2>

	    <div class="row">
        <div class="col-sm-12">
<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
	  <a class="nav-link {% if action == 'upcoming' %}active{% endif %}" aria-current="page" href="?action=upcoming">Upcoming</a>

  </li>
  <li class="nav-item" role="presentation">
	  <a class="nav-link {% if action == 'past_bookings' %}active{% endif %}" aria-current="page" href="?action=past_bookings">Past Bookings</a>
  </li>
</ul>


{% if not current_bookings  and action == 'upcoming' %}
            <div class="well">
                <h3>You do not have any upcoming bookings!</h3>
                <p><a href="{{EXPLORE_PARKS_SEARCH}}">Start a new search</a></p>
            </div>
{% else %}
    {% for booking in current_bookings %}
        {% include "ps/booking/booking_view.html" %}
    {% endfor %}
{% endif %}
{% if past_bookings %}
    {% for booking in past_bookings %}
        {% include "ps/booking/booking_view.html" %}
    {% endfor %}
{% endif %}
        </div>
    </div></div>
{% endblock %}

