{% extends 'ps/base.html' %}
{% load static %}
{% load forms %}
{% block content %}
    <div class="container">
        {% include "ps/modal_loader.html" %}
        {% include "ps/modal_error.html" %}
        {% include "ps/modal_booking_vehicle_updates.html" %}


        <div class="well">
            <input type='hidden' value='disabled' id='site_queue_manager_active'>
            <div class="row">
		<div class="col-sm-12">
			<h2><i class="bi bi-check-circle-fill" style='color: #00cc00; font-size: 60px;'></i> Your booking PB{{ booking.id }} is completed </h2>
                </div>
	    </div>
        </div>
        {% include "ps/booking/booking_success_view.html" %}
    </div>
{% endblock %}
