.round-box {
    border-radius: 5px;
    border: 1px solid #eaeaea;
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 10px;
}

.round-box h5 {
    font-weight: bold;
}

.form-button {
    background: #0E66C9;
    background-image: -webkit-linear-gradient(top, #0E66C9, #033585);
    background-image: -moz-linear-gradient(top, #0E66C9, #033585);
    background-image: -ms-linear-gradient(top, #0E66C9, #033585);
    background-image: -o-linear-gradient(top, #0E66C9, #033585);
    background-image: -webkit-gradient(to bottom, #0E66C9, #033585);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 100;
    padding: 10px;
    text-shadow: 1px 1px 21px #000000;
    border: solid #175ABB 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.form-button:hover {
    border: solid #0D499D 1px;
    background: #124BA7;
    background-image: -webkit-linear-gradient(top, #124BA7, #3776BB);
    background-image: -moz-linear-gradient(top, #124BA7, #3776BB);
    background-image: -ms-linear-gradient(top, #124BA7, #3776BB);
    background-image: -o-linear-gradient(top, #124BA7, #3776BB);
    background-image: -webkit-gradient(to bottom, #124BA7, #3776BB);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-decoration: none;
}

.search_dropdown {
    min-width: 400px;
    margin-top: 2px;
    position: absolute;
    border: 1px solid rgba(0,0,0,.3);
    z-index: 100;
    background-color: #FFF;
    opacity: 0.97;
    box-shadow: 0.05em 0.2em 0.6em rgb(0 0 0 / 20%);
}

.search_dropdown_item_inner {
    padding: 5px 10px 5px 10px;
}

.search_dropdown_item_outer:hover {
  background-color: #a4cddc;
  cursor: pointer;
}

.search_dropdown_item_inner span {
  background-color: #a5d5f1;

}

#search_dropdown_item_0 {
   background-color: #3d6d8f;
}

.selection-informbox {
    border: 1px solid #efeded;
    background-color: #e4e4e4;
    padding-left: 5px;
    border-radius:3px;
    box-shadow: 0px 0px 1px 1px #e0e0e0;
    font-weight: bold;
    font-size: 13px;
}
.search_dropdown_unselect {
        cursor: pointer;
}
#region-park-selection-outer {
        display:none;
}

#search-selections {
       display:none;
}

#search-filters {
       display:none;
}
