{% extends "webtemplate_dbca/base_b5.html" %}


{% block header_top_menu %}
    <script type="text/javascript" src="/static/common/node_modules/bootstrap-datepicker/js/bootstrap-datepicker.js?ver={{ GIT_COMMIT_HASH }}"></script>
    <script type="text/javascript" src="/static/ps/js/management.js?ver={{ GIT_COMMIT_HASH }}"></script>
    <script type="text/javascript" src="/static/ps/js/search_avail.js?ver={{ GIT_COMMIT_HASH }}"></script>
    <link type="text/css" href="/static/ps/css/search_avail.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet">
    <link type="text/css" href="/static/common/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet">
    <link type="text/css" href="/static/ps/css/common.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet">

    <style>
    @font-face { font-family: "Glyphicons Halflings"; src: url('/static/ps/fonts/glyphicons-halflings-regular.ttf'); } 
    </style>
{% endblock %}


{% block  top_menu %}
<li>
         <button type="button" class="btn btn-sm btn-secondary">
                  Notification 1 <span class="badge bg-danger">14</span>
         </button>

</li>

<li>
         <button type="button" class="btn btn-sm btn-secondary">
                  Notification 1 <span class="badge bg-danger">14</span>
         </button>

</li>

<li>
         <button type="button" class="btn btn-sm btn-secondary">
                  Notification 1 <span class="badge bg-danger">14</span>
         </button>

</li>

{% endblock %}


{% block menubottom %}
MENU 2
{%endblock %}

{% block menu_items_left_brand %}
<a class="navbar-brand" href="/"><img src="/static/img/parkstay_icon_v2.png">&nbsp;Home</a>
<a href=''></a>
{%endblock %}
{% block extra_js %}
{% endblock %}


{% block menu_items_left %}
            {% if request.user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link active" href="{% url 'public_my_bookings'%}">My Bookings</a></li>
            {% endif %}
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link active" href="{% url 'dash-campgrounds'%}">Campgrounds</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'dash-campsite-types'%}">Camp Site Types</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'dash-bulkpricing'%}">Bulk Pricing</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'dash-bookings'%}">Existing Bookings</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'search_availablity_information'%}">Search for a place to stay</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link active" href="{% url 'search_availablity_information'%}">Search for a place to stay</a></li>
            {% endif %}
{%endblock %}

{% block menu_extra_dropdown_staff_top %}
     <li><a  class="dropdown-item" href="{{ LEDGER_UI_URL }}/reports?system_id={{ LEDGER_SYSTEM_ID }} ">Financial Reports</a></li>
     <li><a  class="dropdown-item" href="/dashboard/reports">Parkstay Reports(NOT FINISHED)</a></li>
     <li><hr class="dropdown-divider"></li>
     <li><a  class="dropdown-item" href="/dashboard/booking-policy/">Manage Booking Policies</a></li>
     <li><a  class="dropdown-item" href="/dashboard/peak-periods/">Manage Peak Groups</a></li>
{% endblock %}         

{% block menu_extra_dropdown_bottom %}
     <li><a  class="dropdown-item" href="{% url 'account' %}">Manage Account</a></li>
{% endblock %}


{% block menu_spacer %}
 <BR>
{% endblock %}














{% block extra_style %}
<style>
    .footer {background-color: lightgrey}
</style>
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <!-- Messages  -->
        {% if messages %}
        <div class="row">
            <div class="col">
                {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                    {{ message|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col">
                {% block page_content_inner %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <small class="float-right">&copy; Department of Biodiversity, Conservation and Attractions</small>
            </div>
        </div>
    </div>
</footer>
{% endblock page_footer %}
