<div style='position:relative; bottom:0; width:100%'>
<div class="col-lg-12">

<div id='header-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #eda62c; height:6px;'>
                       &nbsp;

             </div>
        </div>
</div>
</div>
<div class="col-lg-12">

<div id='header-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #4c9dc2; height:6px;'>
                       &nbsp;

             </div>
        </div>
</div>
</div>
<div class="col-lg-12">

<div id='header-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #045186; height:6px;'>
                       &nbsp;

             </div>
        </div>
</div>
</div>

<div class="col-lg-12">
<!-- footer -->
<div id='bottom-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #333333; min-height: 200px; '>
                     <div style='padding-left: 70px; padding-top: 50px; ' >
                     <img src="/static/ledger_api/images/logo-explore-parks-white.png" style="width: auto; ">
                       &nbsp;
                     </div>

             </div>
        </div>
</div>
</div>
</div>
