{% load bootstrap3 %}

{% load static %}

<!-- Mobile menu start -->
<style>
#slider-menu { 
   background-color: #222222; 
   position: absolute; 
   color: #fff; 
   border: 1px solid #000000; 
   height: 100%; 
   width: 90%; 
   z-index: 10;
}
#slider-menu-header {
   padding:20px;

}

#slider-menu-body ul {
padding: 0px;
width:100%;
}

#slider-menu-body ul li {
  font-size: 16px;
  line-height: 24px;
  font-family: "proxima-nova",sans-serif;
  list-style: none;
  border-bottom: 1px solid #000000;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:100%;

}

@font-face {
   font-family: "proxima-nova";
   src: url("/static/ps/fonts/ProximaNova-Reg-webfont.woff");
}

#slider-menu-body ul li a {
color: #ffffff;
font-family: "proxima-nova",sans-serif;
font-size: 16px;
}

</style>
<script>
	var menuslider = {
		open: function () {
			$('#slider-menu-wrapper').show();

		},
		close: function() { 
                      	$('#slider-menu-wrapper').hide();
		}

	}

</script>

<div id='slider-menu-wrapper' style='display:none;'>
<div id='slider-menu' class='hidden-md hidden-lg'>
	<div id='slider-menu-header' class="col-lg-12">
		<div class='row'>
		    <div id='slider-menu-header-col-left' class="col-xs-10">
			    <h4>MENU</h4>
		    </div>
		    <div id='slider-menu-header-col-right' class="col-xs-2">
			    <div align='right'><a style='color: #9b9b9b;' onclick="menuslider.close();" href="javascript:void();">X</a></div>
		    </div>
		</div>
	</div>
	<div id='slider-menu-body' class="col-12">
		<ul>

                <li><a href="/">Home</a></li>
                {% if request.user.is_staff %}
                <li class='active'><a href="{% url 'dash-campgrounds'%}">Campgrounds</a></li>
                <li><a href="{% url 'dash-campsite-types'%}">Camp Site Types</a></li>
                <li><a href="{% url 'dash-bulkpricing'%}">Bulk Pricing</a></li>
                <li><a href="{% url 'dash-bookings'%}">Existing Bookings</a></li>
                <li><a href="{% url 'search_availablity_information'%}">Search for a place to stay</a></li>
                <li><a href="/map/">Map</a></li>
                {% else %}
                <li><a href="{% url 'search_availablity_information'%}">Search for a place to stay</a></li>
                <li><a href="/map/">Map</a></li>
                {% endif %}



		</ul>


	</div>
    </div>
</div>

<!-- Mobile Menu End -->

<div class="" style='margin: 0px; background-color: #333333; height: 40px; color: #9b9b9b; z-index: 2;' >
        <div style='padding: 10px;'>
            <div class="row">
                <div class="col-lg-12 " >
			<ul style='list-style:none;'>
                        <li style='color: #9b9b9b;display: inline-block;' class='hidden-md hidden-lg'>
				<a style='color: #9b9b9b;' onclick="menuslider.open();" href="javascript:void;">Menu</a>
			</li>

                        <li style='color: #9b9b9b;display: inline-block;'>
                           <a style='color: #9b9b9b;' href="{%url 'home'%}">Contact Us</a>
                        </li>
                </div>
        </div>
    </div>
</div>


<div class="" style='background-color: FFF;  z-index: 2;'>
        <div style='padding: 20px;'>
            <div class="row">
                <div class="col-lg-12">

                        <h1 id="site-title" class="site-logo">
                           <a href="{%url 'home'%}">
                              <img src="/static/ps/img/logo-2021.png" alt="Department of Parks and Wildlife - Park Stay" class="img-responsive"/>
                           </a>
                        </h1>
                </div>
        </div>
    </div>
</div>



