{% extends 'ps/base.html' %}

{% load static %}

{% block extra_css %}
    <link type="text/css" href="{% static 'ledger/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    Welcome to Parkstay
                </h2>
                <p>This web portal allows you to manage your advance booking of a campsite in one of our many national parks.</p>
                <p><b>To make a new booking, or to find a campground in a national park, please visit the interactive map on our <a href="{{EXPLORE_PARKS_SEARCH}}">Explore Parks website</a>.</b></p>
                <p>Camping in our parks is limited to designated areas which have been chosen and designed to <a href="{{EXPLORE_PARKS_CONSERVE}}">minimise the impact on the environment</a>. For <a href="{{EXPLORE_PARKS_PEAK_PERIODS}}">peak periods</a> where booking is possible, you should book early to avoid disappointment as these are among our most popular campgrounds. Other campgrounds will often reach capacity early in school and public holiday periods, so plan to arrive early and have a back up plan with an alternative place to stay in case your first choice campground is full.</p>
            </div>
            <div class="col-md-4">
                {% if not request.user.is_authenticated %}
                    <div id="ps-login-container">
                        <h3>
                            Access Parkstay
                        </h3>
			<a href='/ssologin' class='btn btn-lg btn-primary'>Login</a>
			<br><br>
                        <p>Click login to login or start a new-user registration process.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
