{% extends 'ps/base.html' %}

{% load static %}
{% block content %}
<div class="container" style='z-index:1'>
	{% if cancel_past_booking is True %}
	{% if booking.arrival <= today %}

            <div class="alert alert-warning" role="alert">
		    <p>The booking you are requesting to cancel has already past its arrival date.</p>

		    <p>You are requesting to cancel booking PB{{ booking.id }} with arrival {{ booking.arrival|date:"d M Y" }} and departure {{ booking.departure|date:"d M Y" }} at campground <b>{{ booking.campground.name }}</b>.</p>
		    <p>You can override the cancellation rules, by clicking the override cancellation button below</p>
            </div>
            <a href='?override_cancellation=true' class="btn btn-danger">Override Cancellation</a>


	{% else %}
            <div class="alert alert-danger" role="alert">
                There was error attempting to cancel the booking,  unfortunately we can not cancel your booking at this time.
            </div>
	{% endif %}
	{% else %}

        <div class="alert alert-danger" role="alert">
	     There was error attempting to cancel the booking,  unfortunately we can not cancel your booking at this time.
        </div>

{% endif %}

</div>

{% endblock %}                  

