{% extends 'ps/base.html' %}

{% load static %}

{% block messages %}
{% endblock %}

{% block content %}
{% include "ps/modal_loader.html" %}

<!-- https://cssbuttoncreator.com/ -->
<script>

window.onload = function() { 
   search_avail.var.page = 'campground';
   {% if PARKSTAY_PERMISSIONS.p5 is True %}
        search_avail.var.permission_to_make_advanced_booking = true;
   {% endif %}      

   search_avail.get_search_locations();
   search_avail.get_locations();
   search_avail.get_places(); 
   search_avail.init_dateselection();	
   search_avail.init_cg();
   console.log('loaded');
}

</script>

    <div class="container" style='z-index:1'>
        <div class="row">
            <div class="col-lg-12 ">
                 <h3>Find a place to stay in Western Australia’s national and conservation parks</h3>
		 <div id='loading-error'></div>
                 <form autocomplete="off" onkeydown="return event.key != 'Enter';"> 
		 <div class="round-box col-12 px-3"> 
			 <div class="col-12">
 				<div class="col-sm-12 col-md-12">
				    <h5>Where?</h5>
				</div>
			 </div>
			 <div class="col-12">
                                <div class='row'>
				     <div class="col-sm-12 col-md-6">
					<div class="col-sm-12 col-md-12">
						<div id='region-park-selection-outer' class='form-control'>
							 <div class='selection-informbox'> 
								  <span >
									    <i class='bi-geo-alt'></i></span> <span id='region-park-selection-inner'></span>
								            <span onclick="search_avail.select_remove();" class='search_dropdown_unselect'><i style='color:red' class='bi-x-lg'></i> </span>
							 </div>
						</div>
		                                <input id="region-park" type="text" placeholder="Campground, park or nearby place name" autocomplete="region-park" aria-expanded="false" class='form-control' onkeyup="search_avail.search_pl(event, this.id, this.value);">


						<input id="coord_1" value='113.84' type='hidden'> 
						<input id="coord_2" value='-22.247' type='hidden'>
						<input id="zoom_level" value='12' type='hidden'>
                                                <input id="DEFAULT_SEARCH_AVAILABILITY_LOCATION" value="{{ DEFAULT_SEARCH_AVAILABILITY_LOCATION }}" type="hidden">
					</div>
				      </div>
				</div>
		         </div>
		  </div>

                 <div class="round-box col-12 px-3">
                         <div class="col-12">
				<div class="col-sm-12 col-md-12">
                                 <h5>When?</h5>
				</div>
                         </div>
                         <div class="col-12">
                              <div class='row'>


<!--- STARTING -->
	<div class="col-sm-12 col-md-6">
          <div class="col-sm-12 ">
          
          <div id="when-date-range" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
              <i class='bi-calendar3' dclass="glyphicon glyphicon-calendar"></i>&nbsp;
              <span id='when-dates'></span> 
              <span> (<span id='when-nights'></span> nights)</span>
              &nbsp;&nbsp;<i class='bi-caret-down-fill' ddclass="glyphicon glyphicon-triangle-bottom"></i>
          </div>
              <div id='form-vars' style='display:none'>
              <input id='checkin' > <input id='checkout' >
              </div>
              <!-- http://www.daterangepicker.com/#example4 -->
          </div>
	  <div class='text-danger ps-2 pt-1'>
		  <i class="bi bi-info-circle-fill"></i> Bookings can be made up to 180 days (approx. six months) before arrival.
          </div>
     </div>
<!-- ENDING -->
				  <div class="col-sm-12 col-md-6" style='display:none'>
					<div class="col-sm-12 col-md-12">
						Check In
					</div>
					<div class="col-sm-12 col-md-12">
						<input id="region-park" type="text" placeholder="Search for campgrounds, parks" autocomplete="off" aria-expanded="false" class='form-control' >
					</div>
				  </div>
				  <div class="col-sm-12 col-md-6" style='display:none'>
                                        <div class="col-sm-12 col-md-12">
                                                Check Out 
                                        </div>
                                        <div class="col-sm-12 col-md-12">
                                                <input id="region-park" type="text" placeholder="Search for campgrounds, parks" autocomplete="off" aria-expanded="false" class='form-control' >
                                        </div>
				  </div>
			      </div>
                         </div>
                 </div>

        {% if notices_obj.notices|length > 0 %}
                <div class="col-lg-12" id="notice_div">
                        <div class="row flex-wrap">
                                {% for notice in notices_obj.notices %}
                                        {% if notice.notice_type == 0 and notice.active %}
                                                <div class="col-sm-12 col-md-6 d-flex"> 
                                                        <div class="round-box col-12 px-3 mb-3" style='background-color: #ffcbcb; border: 1px solid #fb9e9e;'>
                                                                <div style='margin-bottom:-12px;'>
                                                                        <span style='color:red;'>{{ notice.message|safe }}</span>
                                                                </div>
                                                        </div>
                                                </div>
                                        {% elif notice.notice_type == 1 and notice.active %}
                                                <div class="col-sm-12 col-md-6 d-flex"> 
                                                        <div class="round-box col-12 px-3 mb-3" style='background-color: #fff4e0; border: 1px solid #ff89358a;'>
                                                                <div style='margin-bottom:-12px;'>
                                                                        <span style='color:#ffa500;'>{{ notice.message|safe }}</span>
                                                                </div>
                                                        </div>
                                                </div>
                                        {% elif notice.notice_type == 2 and notice.active %}
                                                <div class="col-sm-12 col-md-6 d-flex"> 
                                                        <div class="round-box col-12 px-3 mb-3" style='background-color: #cbe5ff; border: 1px solid #9eccfb;'>
                                                                <div style='margin-bottom:-12px;'>
                                                                        <span style='color:#2a84e0;'>{{ notice.message|safe }}</span>
                                                                </div>
                                                        </div>
                                                </div>
                                        {% elif notice.notice_type == 3 and notice.active %}
                                                <div class="col-sm-12 col-md-6 d-flex"> 
                                                        <div class="round-box col-12 px-3 mb-3" style='background-color: #e9f9ea; border: 1px solid #21ab26;'>
                                                                <div style='margin-bottom:-12px;'>
                                                                        <span style='color:#1a851d;'>{{ notice.message|safe }}</span>
                                                                </div>
                                                        </div>
                                                </div>
                                        {% endif %}
                                {% endfor %}
                        </div>
                </div>
        {% endif %}

                 <div id='search-filters' class="round-box col-12 px-3">
                         <div class="col-12">
                                <div class="col-sm-12 col-md-12">
                                 <h5></h5>
                                </div>
                         </div>
                         <div class="col-12" style='display:none' id='filter-options'>
                              <div class='row'>
				<div class="col-6">
					Tents/Swags
				</div>					
				<div class="col-6">
					<div class="form-check form-switch">
				        <input class="form-check-input filter-features" type="checkbox" id="filter-checkbox-tent">
				</div>
				</div>

                                <div class="col-6">
					Campervan/Rooftop tent/Awning tent
                                </div>                                  
                                <div class="col-6">
                                        <div class="form-check form-switch">
                                          <input class="form-check-input filter-features" type="checkbox" id="filter-checkbox-campervan">
                                </div>
                                </div>

                                <div class="col-6">
					Caravan/Camper trailer
                                </div>                                  
                                <div class="col-6">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input filter-features" type="checkbox" id="filter-checkbox-campertrailer">
                                        </div>
                                </div>

                                <div class="col-6">
                                        &nbsp; 
                                </div>
                                <div class="col-6">
                                        &nbsp;
                                </div>

				{% for f  in features_campgrounds %}
                                     <div class="col-6">
                                          {{ f.name }} 
                                     </div>
                                     <div class="col-6">
                                             <div class="form-check form-switch">
						     <input class="form-check-input filter-features" type="checkbox" id="filter-feature-{{ f.id }}">
                                             </div>
                                     </div>
				{% endfor %}

                                <div class="col-6">
                                        &nbsp;
                                </div>

                                <div class="col-6">
                                        &nbsp;
                                </div>

                                {% for f  in features_campsites %}
                                     <div class="col-6">
                                          {{ f.name }}
                                     </div>
                                     <div class="col-6">
                                             <div class="form-check form-switch">
                                                     <input class="form-check-input filter-featurescs" type="checkbox" id="filter-featurecs-{{ f.id }}">
                                             </div>
                                     </div>
                                {% endfor %}

                                <div class="col-6">
                                        &nbsp;
                                </div>

                                <div class="col-6">
                                        &nbsp;
                                </div>

			      </div>
			 </div> 
			 <div class="col-12" style=''>
				 <center><button type="button" class="btn btn-primary" id='more-filters' onclick="search_avail.filter_options('open');">More filters</button></center>
				 <center><button type="button" class="btn btn-primary" style='display:none;' id='hide-filters' onclick="search_avail.filter_options('close');">Hide filters</button></center>
		         </div>
                  </div>

		  <textarea id='feature_json' style='display:none'>{{ features_json }}</textarea>
		  </form>

                  


                  <div id='search-selections' class="round-box col-12 px-3">
                        <div class="col-12">
                                <div class="col-sm-12 col-md-12">

                                      <ul class="nav nav-pills nav-justified">
                                        <li class="nav-item">
                                          <a id='card-preview-tab' class="nav-link" aria-current="page" href="javascript:void(0);" onclick="search_avail.select_filter_tab('campgrounds');">Campgrounds</a>
                                        </li>
                                        <li class="nav-item">
                                          <a id='map-preview-tab' class="nav-link active" href="javascript:void(0);" onclick="search_avail.select_filter_tab('map');">Map</a>
                                        </li>
                                      </ul>


                                <h5></h5>
                                </div>
                         </div>

                         <div class="col-12">
                              <div class='row'>


    <div id="parkfinder"></div>
    <script type="text/javascript">
        var parkstayUrl = window.location.protocol + '//' + window.location.host;
    </script>
    <script src="{% static 'searchavail/js/manifest.js' %}?ver={{ GIT_COMMIT_HASH }}"></script>
    <script src="{% static 'searchavail/js/vendor.js' %}?ver={{ GIT_COMMIT_HASH }}"></script>
    <script src="{% static 'searchavail/js/map.js' %}?ver={{ GIT_COMMIT_HASH }}"></script>


               </div>
          </div>
    </div>

		  <div class="col-12" style='display:none'>
			<div class="col-12" align='right'>
				<button type='button' name='search-avail' id='search-avail' class='form-button' style='width:100%'>Search</button>
			</div>
		  </div>
         </div>
     </div>
</div>
<br>
<br>



<script type="module">
//	import Map from 'ol/Map';
//	console.log(Map);
</script>
{% endblock %}

