{% extends 'ps/base.html' %}

{% load static %}

{% block messages %}
{% endblock %}

{% block content %}

{% include "ps/modal_loader.html" %}
{% include "ps/modal_error.html" %}
{% if error_message|length > 0 %}
<div class="container" style='z-index:1'>
       <div class='alert alert-danger'>{{ error_message }}</div>
</div>
{% else %}


<!-- https://cssbuttoncreator.com/ -->
<div class="container" style='z-index:1'>


        {% if in_progress_booking_id %}
        <div class="row">
                <div class="col-lg-12"><div class="well">
                        <div class="text-center">
                                <h1 style="color: #003e52; font-size: 48px;">Oops!</h1>
                               
                                <div class="row">
                                <div class='col-md-4'>
                                        &nbsp;
                                </div>
                                <div class='col-md-4 col-xs-12'>
                                    <div class="text-start"> 
                                    <p><b>You already have a booking or booking change in progress. Complete or quit that first.</b><p>
                                    </div>
                                             <div class="text-center">
                                                 <div class="d-grid gap-2">
                     
                                                     <a href="/booking" class="btn btn-warning full-width">Complete booking/change</a>
                                                     <a href="/booking-session/abort-redirect" class="btn btn-danger">Quit and start again</a>
                                                 </div>
                                             <div class="btn-group btn-group-justified">
                                                    
                                             </div>
                                        </div>
                                        <div class="text-start"> 
                                        <div class='alert alert-danger'>
                                            <i class="bi bi-exclamation-circle-fill" istyle='color: red;' ></i> 
                                            If you choose 'Complete booking/change': check the details on the next screen carefully! They may not be what you expect if you have used multiple tabs or windows, your browser back button or history.
                                        </div>
                                           
                   
                  
                    <p><b>Your booking or booking change in progress may:</b><p>
                    <ul>
                        <li>be on another open browser tab or window</li>
                        <li>have been interrupted by the expiry of your session; closing the tab, window or browser you started the booking or change on; or by using your browser back button or history.</li>             
                    </ul>

                    </div>
                </div>
                <div class='col-md-4'>
                        &nbsp;
                </div>
        </div>
            </div>
        </div>
        </div>
        </div>
        {% else %}
        

	{% if cg.campground.park.alert_count > 0 %}
	<div class="col-lg-12 mb-4">
                 <div class="round-box col-12 px-3 pt-3 pb-3" style='background-color: #f1f1f1; border: 1px solid #d2d2d2;'>
                             <div>
                                    <i class="bi-bell-fill" id='bell-flash' style='font-size: 20px; color: #ff0000; padding-right:8px;'></i>
				    <span style='color:#ff0000; margin-top: -10px;'>{{ cg.campground.park.alert_count }} active alert(s) found for this park <a href='{{ cg.campground.park.alert_url }}' type="button" class="btn btn-danger" style='color:#FFF'>Read More</a>
				     </span>

                             </div>
                  </div>

        </div>
	{% endif %}




                 {% if change_booking %}
                 <div class="alert alert-info d-flex align-items-center" role="alert">
                      <div>
			   <p><i class="bi bi-calendar2-x-fill"></i>&nbsp;&nbsp; Change booking PB{{ change_booking.id }}<p>
			   <p>The camping fee indicated here is for the selected dates and campers. Any additional payment or refund due will be shown at the next step.</p>
		    
                      </div>
                 </div>
		 {% endif %}

        <div class="col-12 " >                
                <div class="col-md-12"><p>{% if change_booking %}{% else %}<a href="/search-availability/information/?campground_id={{ cg.campground.id }}" class="btn btn-warning">BACK</a>{% endif %} <a href="/booking-session/abort-redirect" class="btn btn-danger">QUIT</a></p></div>       
        </div>

        {% if cg.campground.campground_type == 0 %}
            <ul class="nav nav-pills ">
              <li class="nav-item">
                <a class="nav-link active" id='campsite-booking-tab' aria-current="page" href="#" onclick="search_avail.change_tabs('campsite-booking');" >BOOKING</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id='campground-details-tab' href="#" onclick="search_avail.change_tabs('campground-details');" >MORE DETAILS</a>
              </li>
            </ul>
	{% endif %}

        <div id='campsite-booking'>
        <br>
        <div class="row">
	    {% if cg.campground_notices|length > 0 %}
            <div class="col-lg-12 ">
		 {% if cg.campground_notices_red > 0 %}
                 <div class="round-box col-12 px-3 " style='background-color: #ffcbcb; border: 1px solid #fb9e9e;'>
                         {% for notice in cg.campground_notices %}
			     {% if notice.notice_type == 0 %}
                             <div>
                                    <i class="bi-exclamation-diamond-fill" style='font-size: 20px; color: red; padding-right:8px;' ></i>
                                    <span style='color:red; margin-top: -10px;'>{{ notice.message }}</span>

                             </div>
			     {% endif %}
			 {% endfor %}
		  </div>
                  {% endif %}

		 {% if cg.campground_notices_orange > 0 %}
                 <div class="round-box col-12 px-3 " style='background-color: #fff4e0; border: 1px solid #ff89358a;'>
                         {% for notice in cg.campground_notices %}
			     {% if notice.notice_type == 1 %}
                             <div>
                                    <i class="bi-exclamation-triangle-fill" style='font-size: 20px; color: #ffa500; padding-right:8px;' ></i>
                                    <span style='color:#ffa500; margin-top: -10px;'>{{ notice.message }}</span>

                             </div>
			     {% endif %}
                         {% endfor %}
                  </div>
		  {% endif %}

                 {% if cg.campground_notices_blue > 0 %}
                 <div class="round-box col-12 px-3 " style='background-color: #cbe5ff; border: 1px solid #9eccfb;'>
                         {% for notice in cg.campground_notices %}
                             {% if notice.notice_type == 2 %}
                             <div>
                                    <i class="bi-info-circle-fill" style='font-size: 20px; color: #2a84e0; padding-right:8px;' ></i>
                                    <span style='color:#2a84e0; margin-top: -10px;'>{{ notice.message }}</span>

                             </div>
			     {% endif %}
                         {% endfor %}
                  </div>
		  {% endif %}

            </div>
            {% endif %}


                 <div class="col-lg-12 ">
                 <form autocomplete="off" onkeydown="return event.key != 'Enter';"> 
		 <div class="round-box col-12 px-3"> 
			 <div class="col-12">
				<div class="row">
 				     <div class="col-sm-12">
                                        <h5 class='bi-geo-alt'> Where</h5>
				     </div>
				</div>
			 </div>
			 <div class="col-12">
                                <div class='row'>
				     <div class="col-sm-12 col-md-6">
					<div class="col-sm-12 col-md-12">
						<div id='region-park-avail-selection-outer' class='form-control'>

							 <div class='selection-informbox'> 

								  <span id='region-park-selection-inner'>
									  {{ cg.campground.name }}, {{ cg.campground.park.name }} 
								  </span>
							 </div>
					         </div>
						 <div>
						</div>
					</div>
				    </div>
				</div>
		         </div>
		  </div>

                 <div class="round-box col-12 px-3">
                         <div class="col-12">
				<div class="col-sm-12 col-md-12">
                                 <h5 class="bi-calendar3" > When</h5>
				</div>
                         </div>
                         <div class="col-12">
                              <div class='row'>


        <!--- STARTING -->

	<div class="col-sm-12 col-md-6">
            <div class="col-sm-12 ">
               <input id='change_booking_after_arrival_before_departure' value='{{ change_booking_after_arrival_before_departure }}' type='hidden'>               
               <input id='parkstay_officers_change_arrival' value='{{ parkstay_officers_change_arrival }}' type='hidden'>
               <input id='is_change_booking' value='{{ is_change_booking }}' type='hidden'>
               <input id='is_parkstay_officers' value='{{ parkstay_officers }}' type='hidden'>
             

              
               
               {% if is_change_booking is True %}                        
                        {% if change_booking_after_arrival_before_departure is True and cp_booking == 0 %}  
                            
                                <div class="col-sm-12 ">
                                <div id="when-date-range" class='form-control'>
                                        <div class='selection-informbox'>
                                        
                                        <span id='when-dates'></span>
                                        <span> (<span id='when-nights'></span> nights)</span>
                                        &nbsp;&nbsp;
                                        </div>
                                </div>
                                <div class="col-sm-12 ">
                                                Change Departure Date:
                                                <input type='text' value='{{ cg.friendly_departure }}' id='departure-date' class='form-control'>
                                </div>

                                                <div id='form-vars' style='display:none'>
                                        <input id='checkin' > <input id='checkout' >
                                        </div>
                                </div>
                        {% else %}
                               
                                {% if parkstay_officers is True %}
                                <div class="col-sm-12 ">
                                
                                
                                        <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="date-override">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Date override</label>
                                        </div>                        
                                
                                </div>
                                <div class="col-sm-12 ">
                                
                                                <div class='row' style='padding-bottom:5px;'>
                                                        <div class="col-xs-6 col-lg-6 text-start">
                                                                <div class="d-grid gap-2 d-block d-sm-none">
                                                                        <button type="button" class="btn btn-success btn-sm" onclick="search_avail.select_days_earlier(1)">One day earlier</button>
                                                                </div>
                                                                <div class="d-none d-sm-block">
                                                                        <button type="button" class="btn btn-success btn-sm" onclick="search_avail.select_days_earlier(1)">One day earlier</button>
                                                                </div>
                                                        </div> 
                                                        <div class="col-xs-6 col-lg-6 text-end">
                                                                <div class="d-grid gap-2 d-block d-sm-none">
                                                                        <button type="button" onclick="search_avail.select_days_later(1)" class="btn btn-success btn-sm">One day later</button>
                                                                </div>
                                                                <div class="d-none d-sm-block">
                                                                <button type="button" onclick="search_avail.select_days_later(1)" class="btn btn-success btn-sm">One day later</button>
                                                                </div>
                                                        </div> 
                                                </div>
                                

                                 </div>
                                 {% endif %}
                                
                                
                                
                                <div class="col-sm-12 ">
                                <div id="when-date-range" class='form-control' style="cursor: pointer; ">
                                        <div class='selection-informbox'>
                                        <span id='when-dates'></span> 
                                        <span> (<span id='when-nights'></span> nights)</span>
                                        &nbsp;&nbsp;<i class='bi-caret-down-fill' ddclass="glyphicon glyphicon-triangle-bottom"></i>
                                        </div>
                                        
                                        <div id='form-vars' style='display:none'>
                                        <input id='checkin' > <input id='checkout' >
                                        </div>
                                </div>
                                </div>
                                {% comment %} {% if parkstay_officers is True %}
                                {% else %}
                                        <div class="col-sm-12 ">
                                                <div id="when-date-range" class='form-control'>
                                                        <div class='selection-informbox'>
                                                        
                                                        <span id='when-dates'></span>
                                                        <span> (<span id='when-nights'></span> nights)</span>
                                                        &nbsp;&nbsp;
                                                        </div>
                                                </div>
                                                <div class="col-sm-12 ">
                                                                Change Arrival Date:
                                                                <input type='text' value='{{ cg.friendly_departure }}' id='arrival-date' class='form-control'>
                                                </div>
        
                                                <div id='form-vars' style='display:none'>
                                                        <input id='checkin' > <input id='checkout' >
                                                </div>
                                        </div>


                                {% endif %} {% endcomment %}
                        {% endif %}
                {% else %}
                <div class="col-sm-12 ">                        
                                <div class='row' style='padding-bottom:5px;'>
                                        <div class="col-xs-6 col-lg-6 text-start">
                                                <div class="d-grid gap-2 d-block d-sm-none">
                                                        <button type="button" class="btn btn-success btn-sm" onclick="search_avail.select_days_earlier(1)">One day earlier</button>
                                                </div>
                                                <div class="d-none d-sm-block">
                                                        <button type="button" class="btn btn-success btn-sm" onclick="search_avail.select_days_earlier(1)">One day earlier</button>
                                                </div>
                                        </div> 
                                        <div class="col-xs-6 col-lg-6 text-end">
                                                <div class="d-grid gap-2 d-block d-sm-none">
                                                        <button type="button" onclick="search_avail.select_days_later(1)" class="btn btn-success btn-sm">One day later</button>
                                                </div>
                                                <div class="d-none d-sm-block">
                                                <button type="button" onclick="search_avail.select_days_later(1)" class="btn btn-success btn-sm">One day later</button>
                                                </div>
                                        </div> 
                                </div>
                        </div>

                        <div class="col-sm-12 ">
                                <div id="when-date-range" class='form-control' style="cursor: pointer; ">
                                        <div class='selection-informbox'>
                                        
                                        <span id='when-dates'></span> 
                                        <span> (<span id='when-nights'></span> nights)</span>
                                        &nbsp;&nbsp;<i class='bi-caret-down-fill' ddclass="glyphicon glyphicon-triangle-bottom"></i>
                                        </div>
                                        
                                        <div id='form-vars' style='display:none'>
                                        <input id='checkin' > <input id='checkout' >
                                        </div>
                                </div>
                        </div>


                {% endif %}
          <div class='text-danger ps-2 pt-1'>
                  <i class="bi bi-info-circle-fill"></i> Bookings can be made up to 180 days (approx. six months) before arrival.
          </div>

    <!-- http://www.daterangepicker.com/#example4 -->
</div>


</div>
                                <!-- ENDING -->
				  <div class="col-sm-12 col-md-6" style='display:none'>
					<div class="col-sm-12 col-md-12">
						Check In
					</div>
					<div class="col-sm-12 col-md-12">
						<input id="region-park" type="text" placeholder="Search for campgrounds, parks" autocomplete="off" aria-expanded="false" class='form-control' >
					</div>
				  </div>
				  <div class="col-sm-12 col-md-6" style='display:none'>
                                        <div class="col-sm-12 col-md-12">
                                                Check Out 
                                        </div>
                                        <div class="col-sm-12 col-md-12">
                                                <input id="region-park" type="text" placeholder="Search for campgrounds, parks" autocomplete="off" aria-expanded="false" class='form-control' >
                                        </div>
				  </div>
			      </div>
                         </div>
                 </div>
<style>

.plus-minus-counter {
  font-size: 30px; 
  color: #4c4343;
  cursor:pointer;
}

.plus-minus-counter:hover {
  color: #909090;

}
.plus-minus-counter:active {
  color: #0d6efd;

}
.camper-dropdown {
  position:absolute; 
  display:none;
}					
.camper-dropdown-relative {
 z-index: 9;
 position:relative; 
 background-color:#FFFFFF; 
 width: 300px; 
 border: 1px solid #dedede; 
 padding: 10px; 
 box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75); 
 -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75); 
 -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}				

.vehicle-dropdown {
  position:absolute;
  display:none;
}

.vehicle-dropdown-relative {
 z-index: 9;
 position:relative;
 background-color:#FFFFFF;
 width: 300px;
 border: 1px solid #dedede;
 padding: 10px;
 box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
 -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

	
</style>

                 <div class="round-box col-12 px-3">
                         <div class="col-12">
                                <div class="col-sm-12 col-md-12">
                                    <h5 class="bi-people-fill" > Campers</h5>
                                </div>
                         </div>
                         <div class="col-12">
                                <div class='row'>
                                     <div class="col-sm-12 col-md-6">
                                        <div class="col-sm-12 col-md-12">
						<div id='region-park-avail-selection-outer' class='form-control selection-dropdown' {% if change_booking_after_arrival_before_departure is True %} {% else %}style="cursor: pointer; " onclick="search_avail.campers_toggle();" {% endif %}>
                                                         <div class='selection-informbox'>
                                                                  <span id='camper-selection-inner-text'>0 adult, 0 concession, 0 child, 0 Infant </span>  <span>{% if change_booking_after_arrival_before_departure is True %} {% else %}<i class="bi-caret-down-fill" ddclass="glyphicon glyphicon-triangle-bottom"></i>{% endif %}</span>
                                                         </div>
                                                </div>
						<div id='camper-dropdown' class='camper-dropdown selection-dropdown'>
							<div id='camper-dropdown-relative' class='camper-dropdown-relative'>


                                                        <div class="row p-3" style='border-bottom: 1px solid #eaeaea'>
								<div class="col-8 col-sm-8"><span class='fw-bold'>Adults <br>(non concession)</span><br>
                                                                 <span id='adult-message' class='fw-bold' style='font-size:14px; color:red'></span>
							</div>
                                                          <div class="col-4 col-sm-4">

                                                                        <span>
                                                                       <i class='bi-dash-square plus-minus-counter' onclick="search_avail.change_camper_counters('adult','down');" ></i> 
                                                                       </span>
                                                                        <span>
                                                                       <i class='bi-plus-square plus-minus-counter' onclick="search_avail.change_camper_counters('adult','up');"></i>
                                                                       </span>
                                                          </div>
                                                        </div>


                                                        <div class="row p-3" style='border-bottom: 1px solid #eaeaea'>
							<div class="col-8 col-sm-8 fw-bold">Adults <br>(concession)</div>
                                                          <div class="col-4 col-sm-4">
                                                                        <span>
                                                                       <i class='bi-dash-square plus-minus-counter' onclick="search_avail.change_camper_counters('concession','down');"></i>
                                                                       </span>
                                                                        <span>
                                                                       <i class='bi-plus-square plus-minus-counter' onclick="search_avail.change_camper_counters('concession','up');"></i>
                                                                       </span>
                                                          </div>
                                                        </div>


                                                        <div class="row p-3" style='border-bottom: 1px solid #eaeaea'>
								<div class="col-8 col-sm-8"><span class='fw-bold'>Children</span><br><span style='font-size:14px'>(ages 6-15)</span></div>
                                                          <div class="col-4 col-sm-4">
                                                                        <span>
                                                                       <i class='bi-dash-square plus-minus-counter' onclick="search_avail.change_camper_counters('children','down');" ></i>
                                                                       </span>
                                                                        <span>
                                                                       <i class='bi-plus-square plus-minus-counter' onclick="search_avail.change_camper_counters('children','up');" ></i>
                                                                       </span>
                                                          </div>
                                                        </div>

                                                        <div class="row p-3" style='border-bottom: 1px solid #eaeaea'>
								<div class="col-8 col-sm-8"><span class='fw-bold'>Infants</span>
									<br><span style='font-size:14px'>(ages 0-5)</span></div>
                                                          <div class="col-4 col-sm-4">
                                                                        <span>
                                                                       <i class='bi-dash-square plus-minus-counter' onclick="search_avail.change_camper_counters('infant','down');"></i>
                                                                       </span>
                                                                        <span>
                                                                       <i class='bi-plus-square plus-minus-counter' onclick="search_avail.change_camper_counters('infant','up');"></i>
                                                                       </span>
                                                          </div>
                                                        </div>
                                                        <div class="row p-3">
								<div class="col-12 col-sm-12 text-end">
                                                                          <button type="button" class="btn btn-primary btn-sm" onclick="search_avail.campers_toggle();">Close</button>

								</div>

							</div>

                                                        </div>
						</div>
                                           </div>
                                      </div>
                                </div>
                         </div>
                  </div>

                  <div class="round-box col-12 px-3">
                         <div class="col-12">
                                <div class="col-sm-12 col-md-12">
                                    <h5 class="bi-p-square-fill" > Vehicles</h5>
                                </div>
                         </div>
                         <div class="col-12">
                                <div class='row'>
                                     <div class="col-sm-12 col-md-6">
                                        <div class="col-sm-12 col-md-12">
						<div id='region-park-avail-selection-outer' class='form-control selection-dropdown' {% if change_booking_after_arrival_before_departure is True %} {% else %}style="cursor: pointer; " onclick="search_avail.vehicle_toggle();" {% endif %}>
                                                         <div class='selection-informbox'>
                                                                  <span id='vehicle-selection-inner-text'> &nbsp;0 cars/ute , 0 campervan, 0 motor cycles, 0 trailers </span> <span>{% if change_booking_after_arrival_before_departure is True %} {% else %}<i class="bi-caret-down-fill" ></i>{% endif %}</span>
                                                         </div>
                                                </div>

                                                <div id='vehicle-dropdown' class='vehicle-dropdown selection-dropdown'>
                                                        <div id='vehicle-dropdown-relative' class='vehicle-dropdown-relative'>


                                                        <div class="row p-3" style='border-bottom: 1px solid #eaeaea'>
                                                          <div class="col-8 col-sm-8 fw-bold">Car/Ute</div>
                                                          <div class="col-4 col-sm-4">

                                                                        <span>
                                                                       <i class='bi-dash-square plus-minus-counter' onclick="search_avail.change_vehicle_counters('vehicle','down')"></i>
                                                                       </span>
                                                                        <span>
                                                                       <i class='bi-plus-square plus-minus-counter' onclick="search_avail.change_vehicle_counters('vehicle','up')" ></i>
                                                                       </span>
                                                          </div>
                                                        </div>


                                                        <div class="row p-3" style='border-bottom: 1px solid #eaeaea'>
                                                          <div class="col-8 col-sm-8 fw-bold">Campervan</div>
                                                          <div class="col-4 col-sm-4">
                                                                        <span>
                                                                       <i class='bi-dash-square plus-minus-counter'  onclick="search_avail.change_vehicle_counters('campervan','down')"></i>
                                                                       </span>
                                                                        <span>
                                                                       <i class='bi-plus-square plus-minus-counter'  onclick="search_avail.change_vehicle_counters('campervan','up')" ></i>
                                                                       </span>
                                                          </div>
                                                        </div>

                                                        <div class="row p-3" style='border-bottom: 1px solid #eaeaea'>
                                                          <div class="col-8 col-sm-8 fw-bold">Caravan/Camper trailer</div>
                                                          <div class="col-4 col-sm-4">
                                                                        <span>
                                                                       <i class='bi-dash-square plus-minus-counter'  onclick="search_avail.change_vehicle_counters('caravan','down')"></i>
                                                                       </span>
                                                                        <span>
                                                                       <i class='bi-plus-square plus-minus-counter'  onclick="search_avail.change_vehicle_counters('caravan','up')" ></i>
                                                                       </span>
                                                          </div>
                                                        </div>

                                                        <div class="row p-3" style='border-bottom: 1px solid #eaeaea'>
                                                          <div class="col-8 col-sm-8 fw-bold">Motorcycle </div>
                                                          <div class="col-4 col-sm-4">
                                                                        <span>
                                                                       <i class='bi-dash-square plus-minus-counter' onclick="search_avail.change_vehicle_counters('motorcycle','down')" ></i>
                                                                       </span>
                                                                        <span>
                                                                       <i class='bi-plus-square plus-minus-counter' onclick="search_avail.change_vehicle_counters('motorcycle','up')" ></i>
                                                                       </span>
                                                          </div>
                                                        </div>

                                                        <div class="row p-3" style='border-bottom: 1px solid #eaeaea'>
                                                          <div class="col-8 col-sm-8 fw-bold">Other trailer </div>
                                                          <div class="col-4 col-sm-4">
                                                                        <span>
                                                                       <i class='bi-dash-square plus-minus-counter' onclick="search_avail.change_vehicle_counters('trailer','down')"></i>
                                                                       </span>
                                                                        <span>
                                                                       <i class='bi-plus-square plus-minus-counter' onclick="search_avail.change_vehicle_counters('trailer','up')" ></i>
                                                                       </span>
                                                          </div>
                                                        </div>
                                                        <div class="row p-3">
                                                                <div class="col-12 col-sm-12 text-end">
                                                                          <button type="button" class="btn btn-primary btn-sm" onclick="search_avail.vehicle_toggle();">Close</button>

                                                                </div>
                                                        </div>
                                                        </div>
                                                </div>
                                           </div>
                                      </div>
                                </div>
                         </div>
                 </div>
                 {% if change_booking_after_arrival_before_departure is True %} 
		 {% else %}
                 <div id='search-filters-campsites' class="round-box col-12 px-3">
                         <div class="col-12">
                                <div class="col-sm-12 col-md-12">
                                 <h5></h5>
                                </div>
                         </div>
                         <div class="col-12" style='display:none' id='filter-options'>
                              <div class='row'>
				<div class="col-6">
					Tents/Swags
				</div>					
				<div class="col-6">
					<div class="form-check form-switch">
					  <input class="form-check-input filter-features" type="checkbox" id="filter-checkbox-tent" >
				</div>
				</div>

                                <div class="col-6">
                                        Campervan
                                </div>                                  
                                <div class="col-6">
                                        <div class="form-check form-switch">
                                          <input class="form-check-input filter-features" type="checkbox" id="filter-checkbox-campervan">
                                </div>
                                </div>


                                <div class="col-6">
                                        Caravan / Camper trailer
                                </div>                                  
                                <div class="col-6">
                                        <div class="form-check form-switch">
                                          <input class="form-check-input filter-features" type="checkbox" id="filter-checkbox-campertrailer">
                                </div>
                                </div>

                                <div class="col-6">
                                        &nbsp; 
                                </div>
                                <div class="col-6">
                                        &nbsp;
                                </div>

				{% for f  in features %}
                                     <div class="col-6">
                                          {{ f.name }} 
                                     </div>
                                     <div class="col-6">
                                             <div class="form-check form-switch">
						     <input class="form-check-input filter-features" type="checkbox" id="filter-feature-{{ f.id }}">
                                             </div>
                                     </div>
				{% endfor %}

			      </div>
			 </div> 
			 <div class="col-12" style='' >
				 <center><button type="button" class="btn btn-primary" id='more-filters' onclick="search_avail.filter_options('open');">More filters</button></center>
				 <center><button type="button" class="btn btn-primary" style='display:none;' id='hide-filters' onclick="search_avail.filter_options('close');">Hide filters</button></center>
		         </div>
                  </div>
		  {% endif %}

		  <textarea id='feature_json' style='display:none'>{{ features_json }}</textarea>
		  </form>
		  {% if PARKSTAY_PERMISSIONS.p0 is True %}

		  <div class="row">
		      <div class="col-6">
		           <div class='pull-left'>
                               <div class="form-check form-switch">
		                         <input class="form-check-input" type="checkbox" id="multiple-campsite-selection">
		                         <label class="form-check-label" for="flexSwitchCheckDefault">Enable Multiple Campsite Selection</label>
		               </div>
		           </div>
		      </div>
		      <div class="col-6 text-end">
			      <button type="button" class="btn btn-primary" id='proceed-booking' onclick="search_avail.create_booking(this);" data-button='{"site_type":0,"campsite_id":null,"selecttype":"multiple"}' style='display:none' >PROCEED</button>
		      </div>
		  </div>
		  <br>
		  {% endif %}
		   <div class="row">
			   <div class="col-6">
			   </div> 
			   <div class="col-6 text-end" style="font-size: 22px;">
				   {% if cg.campground.campground_map %}
				   <i class="bi bi-map-fill" style='color:#B8591F'></i> <A href='{{ cg.campground.campground_map }}' target='campground_map_{{ cg.campground.id }}' style='text-decoration: none;'>Campground map</a>
				   {% endif %}
			   </div>
		   </div>

                  <div id='campsite-availablity' class="round-box col-12 px-3" istyle='float:left; '>
                          <div class="col-12" id='campsite-availablity-results'>
                                Campsites
  		          </div>
		  </div>

		  <div class="col-12" style='display:none'>
			<div class="col-12" align='right'>
				<button type='button' name='search-avail' id='search-avail' class='form-button' style='width:100%'>Search</button>
			</div>

		  </div>
         </div>
     </div>
     
     <!-- booking campsite tab -->
     </div>
     <div id='campground-details' style='display:none'>
             {% include "ps/search_availabilty_campground_details.html" %}
     </div>

     <div class="col-12 " >                
        <div class="col-md-12"><p>{% if change_booking %}{% else %}<a href="/search-availability/information/?campground_id={{ cg.campground.id }}" class="btn btn-warning">BACK</a>{% endif %} <a href="/booking-session/abort-redirect" class="btn btn-danger">QUIT</a></p></div>       
    </div>
</div>
<br>
<br>

<script>
window.onload = function() {
   search_avail.var.page = 'campsite-availablity';
  
   {% if cg.campground.campground_type == 0 %}

       {% if cg.arrival is not None %}
       {% endif %}
       {% if cg.departure is not None %}
       {% endif %}
       search_avail.var.campground_id = '{{ cg.campground.id }}';
       search_avail.var.campers.adult = parseInt('{{ cg.num_adult }}');
       search_avail.var.campers.concession = parseInt('{{ cg.num_concession }}');
       search_avail.var.campers.children = parseInt('{{ cg.num_children }}');
       search_avail.var.campers.infant = parseInt('{{ cg.num_infants }}');

       search_avail.var.vehicles.vehicle =  parseInt('{{ cg.num_vehicle }}');
       search_avail.var.vehicles.campervan = parseInt('{{ cg.num_campervan }}');
       search_avail.var.vehicles.motorcycle = parseInt('{{ cg.num_motorcycle }}');
       search_avail.var.vehicles.trailer = parseInt('{{ cg.num_trailer }}');
       search_avail.var.vehicles.caravan = parseInt('{{ cg.num_caravan }}');
       search_avail.var.max_advance_booking = '{{ cg.campground.max_advance_booking }}';
       search_avail.var.arrival = {% if cg.arrival %}'{{ cg.arrival }}'{% else %}null{% endif %};
       search_avail.var.departure = {% if cg.departure %}'{{ cg.departure }}'{% else %}null{% endif %};

       {% if PARKSTAY_PERMISSIONS.p5 is True %}
            search_avail.var.permission_to_make_advanced_booking = true;
       {% endif %}	

       search_avail.total_campers();
       search_avail.total_vehicles();
       search_avail.get_search_locations();
       search_avail.get_locations();
       search_avail.get_places();

       $(".filter-features").click(function() {
           console.log("Filters Updated (Reloading)");
           search_avail.load_campsite_availabilty();
       });

       {% if change_booking.id > 0 %}
       search_avail.var.change_booking_id = parseInt('{{ change_booking.id }}');
       search_avail.var.selecttype = '{{ change_booking.details.selecttype }}';
          {% if change_booking.details.selecttype == 'multiple' %}
             search_avail.var.multiplesites = {{ change_booking.details.multiplesites }};
             $('#multiple-campsite-selection').click();
          {% endif %}

       {% endif %}
       search_avail.init_dateselection({% if cg.arrival %}'{{ cg.arrival }}'{% else %}null{% endif %},{% if cg.departure %}'{{ cg.departure }}'{% else %}null{% endif %});
       search_avail.init();

   {% else %}
         search_avail.change_tabs('campground-details');        
   {% endif %}

window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    //alert('refresh');
    window.location.reload();
  }
});

   console.log('loaded');



}
</script>



<script type="module">
//	import Map from 'ol/Map';
//	console.log(Map);
</script>
{% endif %}
{% endif %}

{% endblock %}

