{% if request.user.is_authenticated %}
      <li class="nav-item"><a class="nav-link active" href="{% url 'public_my_bookings'%}">My Bookings</a></li>
{% else %}
      <li class="nav-item"><a class="nav-link active" href="/ssologin">My Bookings</a></li>
{% endif %}
{{ settings }}
{% if request.user.is_staff %}
<li class="nav-item"><a class="nav-link active" href="{% url 'dash-campgrounds'%}">Campgrounds</a></li>
<li class="nav-item"><a class="nav-link active" href="{% url 'dash-campsite-types'%}">Camp Site Types</a></li>
<li class="nav-item"><a class="nav-link active" href="{% url 'dash-bulkpricing'%}">Bulk Pricing</a></li>
<li class="nav-item"><a class="nav-link active" href="{% url 'dash-bookings'%}">Existing Bookings</a></li>
<li class="nav-item"><a class="nav-link active" href="{{ LEDGER_UI_URL }}/ledger/payments/oracle/failed-transactions">Failed Refunds {% if ledger_totals.total_failed > 0 %}<span class="badge bg-danger">{{ ledger_totals.total_failed }}</span>{% endif %}</li>

{% else %}
  
{% endif %}

