
.fade-transition {
  transition: opacity .3s ease;
}
.fade-enter,
.fade-leave {
  height: 0;
  opacity: 0;
}
.alert.top {
  position: fixed;
  top: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1050;
}
.alert.top-right {
  position: fixed;
  top: 30px;
  right: 50px;
  z-index: 1050;
}


td > a{
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 10px;
    margin: 10px 1px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    color: #03a9f4;
}
td{
    word-wrap: break-word;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    vertical-align: middle;
    text-align: left;
}
.schedule-button {
    width: 80px;
}
table.dataTable thead .sorting {
    background:none;
}
table.dataTable thead .sorting_desc{
    background:none;
}
table.dataTable thead .sorting_asc{
    background:none;
}
.table.rowlink td:not(.rowlink-skip), .table .rowlink td:not(.rowlink-skip) {
    cursor: pointer;
}
table.collapsed > tbody > tr > td > span.responsiveExpander,table.has-columns-hidden > tbody > tr > td > span.responsiveExpander {
    background: url("https://raw.githubusercontent.com/Comanche/datatables-responsive/master/files/1.10/img/plus.png") no-repeat 5px center;
    padding-left: 32px;
    cursor: pointer;
}
table.collapsed > tbody > tr.parent > td span.responsiveExpander,table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander {
    background: url("https://raw.githubusercontent.com/Comanche/datatables-responsive/master/files/1.10/img/minus.png") no-repeat 5px center;
}
table.collapsed > tbody > tr > td.child,table.has-columns-hidden > tbody > tr > td.child {
    background: #eee;
}
table.collapsed > tbody > tr > td > ul, table.has-columns-hidden > tbody > tr > td > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
table.collapsed > tbody > tr > td > ul > li > span.dtr-title, table.has-columns-hidden > tbody > tr > td > ul > li > span.columnTitle {
    font-weight: bold;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}
div.dataTables_filter input {
    margin-left: 10px;
    display: inline-block;
}
div.dataTables_length select {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
.input-sm {
    width: auto;
}
@media screen and (max-width: 767px)
{
div.dataTables_length,div.dataTables_info {
         float:left;
         width: auto;
}
div.dataTables_filter, div.dataTables_paginate {
         float:right;
}
}


.modal[data-v-5675983e] {
    display: block;
}
.modal .btn[data-v-5675983e] {
    margin-bottom: 0px;
}
.modal-body[data-v-5675983e],
.modal-footer[data-v-5675983e],
.modal-header[data-v-5675983e] {
    background-color: #F5F5F5;
    color: #333333;
}
.modal-transition[data-v-5675983e] {
    transition: all .6s ease;
}
.modal-leave[data-v-5675983e] {
    border-radius: 1px !important;
}
.modal-transition .modal-dialog[data-v-5675983e],
.modal-transition .modal-backdrop[data-v-5675983e] {
    transition: all .5s ease;
}
.modal-enter .modal-dialog[data-v-5675983e],
.modal-leave .modal-dialog[data-v-5675983e] {
    opacity: 0;
    transform: translateY(-30%);
}
.modal-enter .modal-backdrop[data-v-5675983e],
.modal-leave .modal-backdrop[data-v-5675983e] {
    opacity: 0;
}
#okBtn[data-v-5675983e] {
    margin-bottom: 0px;
}



.body {
    padding: 0 20px;
}
.select2-container{
    z-index:100000;
}


.modal-body[data-v-79c7aa03],.modal-footer[data-v-79c7aa03] {
    background-color: #fff;
    color: #333;
}
.modal-footer .btn+.btn[data-v-79c7aa03] {
    margin-bottom: 10px;
    margin-left: 5px;
}


#spinnerLoader {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}


.upload .panel {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-right: 5px;
}
.upload img {
    height: 250px;
    width: 250px;
}
.btn-file {
    position: relative;
    width: 120px;
    overflow: hidden;
}
.btn-file-large {
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 96px;
    /*font-size: 45px;*/
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.slick-prev {
    left: 10px;
    color: #012531;
}
.slick-next {
    right: 10px;
    color: #012531;
}


/* Slider */
.slick-loading .slick-list {
    /* background: #fff url('./ajax-loader.gif') center center no-repeat; */
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: #337ab7;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: #337ab7;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .11;
}
.slick-prev:before,
.slick-next:before {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[dir='rtl'] .slick-prev {
    right: -11px;
    left: auto;
}
.slick-prev:before {
    content: '\f0a8';
}
[dir='rtl'] .slick-prev:before {
    content: '\f0a8';
}
[dir='rtl'] .slick-next {
    right: auto;
    left: -11px;
}
.slick-next:before {
    content: '\f0a9';
}
[dir='rtl'] .slick-next:before {
    content: '\f0a9';
}

/* Dots */
.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    ;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '\f111';
    text-align: center;

    opacity: .25;
    color: #337ab7;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #337ab7;
}
.panel-group .panel+.panel {
    margin-top: 0;
    z-index: 0;
    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0px;
    height: 100%;
    width: inherit;
    background-color: rgba(51, 122, 183, 0.4);
    z-index: 1;
    overflow: hidden;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    visibility: hidden;
    cursor: pointer;
}
.show {
    visibility: visible;
    transition: visibility 1000s linear 0s;
}


#main-panel.panel-body>.row {
    margin-top: 20px;
}
#editor {
    height: 200px;
}
.features>.panel>.panel-body {
    padding: 0;
    max-height: 300px;
    min-height: 300px;
    overflow: auto;
}
.features .list-group {
    margin-bottom: 0;
}
.features .list-group-item {
    border-radius: 0;
}
.list-group-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.empty-features {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: #ccc;
    font-size: 2em;
}
.pagination {
    float: right !important;
}


.well{
   background-color: #fff;
}
.btn{
   margin-bottom: 10px;
}


.well {
    background-color: #fff;
}
.btn {
    margin-bottom: 10px;
}


.options >.panel>.panel-body{
    padding:0;
    max-height: 300px;
    min-height: 300px;
    overflow: auto;
}
.options .list-group{
    margin-bottom: 0;
}
.options .list-group-item{
    border-radius: 0;
}
.list-group-item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.empty-options{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: #ccc;
    font-size: 2em;
}


.editor[data-v-6e395d7a]{
    height: 200px;
}


.table_btn {
    margin-top: 25px;
    margin-right: -14px;
}
@media(max-width: 768px) {
.btn-create{
        position: absolute;
        left: 13px;
}
}
@media(min-width: 768px) {
.btn-create{
        position: absolute;
        left: 220px;
}
}
@media(min-width: 992px) {
.btn-create{
        position: absolute;
        left: 300px;
}
}
@media(min-width: 1200px) {
.btn-create{
        position: absolute;
        left: 390px;
}
}


.form-control[data-v-21c2e828], .form-group .form-control[data-v-21c2e828]{
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
.form-group .form-control[data-v-21c2e828]:focus{
    background-image: linear-gradient(#337ab7,#337ab7);
    outline:none;
    background-size: 100% 2px,100% 1px;
}
.dropdown-menu[data-v-21c2e828]:before {
  position: absolute;
  top: -12px;
  left: 12px;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ccc;
  border-left: 12px solid transparent;
  border-bottom-color: rgba(46, 109, 164, 1);
  content: '';
}
.dropdown-menu[data-v-21c2e828]{
    top:120%;
    width: 300px;
}
.dropdown-menu li[data-v-21c2e828]{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
}
.dropdown-menu li[data-v-21c2e828]:last-child{
    border-bottom: 0;
}
.dropdown-menu .item[data-v-21c2e828]{
    line-height: 2;
}
.btn-guest[data-v-21c2e828] {
    color: #ccc;
    background-color: #fff;
    border-color: #ccc;
}


td.details-control {
    cursor: pointer;
    position: relative;
}
.vehicle_history_data  td,.vehicle_history_data th {
    padding-right: 10px;
}
td.details-control:before {
    content: "\f055";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    position:absolute;
    top: 7px;
    left: 25%;
    color: #32aad2;
}
tr.shown td.details-control:before {
    content: "\f056";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    position:absolute;
    top: 7px;
    left: 25%;
    color: #32aad2;
}


.text-warning {
  color: #f0ad4e;
}
@media print {
.col-md-3 {
    width: 25%;
    float: left;
}
a[href]:after {
    content: none !important;
}
#print-btn {
    display: none !important;
}
}


.pricing{
    margin-left: 25px;
    font-size: 20px;
}
.awesomplete{
    width:100%;
}
.dropdown-menu:before {
  position: absolute;
  top: -12px;
  left: 12px;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ccc;
  border-left: 12px solid transparent;
  border-bottom-color: rgba(46, 109, 164, 1);
  content: '';
}
.dropdown-menu{
    top:120%;
    width: 300px;
}
.guests li{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
}
.guests li:last-child{
    border-bottom: 0;
}
.guests.item{
    line-height: 2;
}
.btn-guest {
    color: #ccc;
    background-color: #fff;
    border-color: #ccc;
}
.required::after{
    content: '*';
    color:red;
}
.tab-content{
    padding:15px 0px;
}
.nav-tabs{
    margin-top: 15px;
}


.pricing{
    margin-left: 25px;
    font-size: 20px;
}
.awesomplete{
    width:100%;
}
.dropdown-menu:before {
  position: absolute;
  top: -12px;
  left: 12px;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ccc;
  border-left: 12px solid transparent;
  border-bottom-color: rgba(46, 109, 164, 1);
  content: '';
}
.dropdown-menu{
    top:120%;
    width: 300px;
}
.guests li{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
}
.guests li:last-child{
    border-bottom: 0;
}
.guests.item{
    line-height: 2;
}
.btn-guest {
    color: #ccc;
    background-color: #fff;
    border-color: #ccc;
}
.required::after{
    content: '*';
    color:red;
}
.tab-content{
    padding:15px 0px;
}
.nav-tabs{
    margin-top: 15px;
}


.pricing{
    margin-left: 25px;
    font-size: 20px;
}
.awesomplete{
    width:100%;
}
.dropdown-menu:before {
  position: absolute;
  top: -12px;
  left: 12px;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ccc;
  border-left: 12px solid transparent;
  border-bottom-color: rgba(46, 109, 164, 1);
  content: '';
}
.dropdown-menu{
    top:120%;
    width: 300px;
}
.guests li{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
}
.guests li:last-child{
    border-bottom: 0;
}
.guests.item{
    line-height: 2;
}
.btn-guest {
    color: #ccc;
    background-color: #fff;
    border-color: #ccc;
}
.required::after{
    content: '*';
    color:red;
}
.tab-content{
    padding:15px 0px;
}
.nav-tabs{
    margin-top: 15px;
}


.wrapper{
    display: flex;
    justify-content: left center;
    align-items: center;
    min-height: 100%;
    min-width:100%;
    position: absolute;
    bottom:10px;
    color: #333;
}
.wrapper h1{
    font-size: 4em;
}


.name_popover {
    padding: 10px;
    cursor: pointer;
}


.panel-body>div.row {
    margin-top: 10px;
}


.editor[data-v-1bd97224]{
    height: 200px;
}
.well[data-v-1bd97224]:last-child{
    margin-bottom: 5px;
}


/*# sourceMappingURL=parkstay.css.map*/