{% extends 'ps/base.html' %}
{% load static %}
{% load forms %}
{% block content %}
{% csrf_token %}

    <div class="container">
        <div class="alert alert-danger" role="alert" id='booking-policy-flat-error' style='display:none'>
        </div>
        <div class="alert alert-success" role="alert" id='booking-policy-flat-success' style='display:none'>
        </div>
        <div style='padding: 1.5rem; margin-right: 0; margin-left: 0; border-width: 1px; border-top-left-radius: .25rem; border-top-right-radius: .25rem; margin: 1rem -.75rem 0; border: 1px solid #dee2e6;'>
        <div class='row'>
            <div class='col-6'>
               <h3>Booking Policy</h3> 
            </div>
            <div class='col-6 text-end'>
		 <button type="button" class="btn btn-primary create-booking-policy" >Add Policy</button>
	    </div>
            <div class='col-12'>
		&nbsp;
	    </div>
        </div>
	<table class="table table-striped">
        <thead class='table-dark'>
          <tr>
            <th scope="col" class='col-1'>#</th>
            <th scope="col" class='col-7'>Policy Name</th>
            <th scope="col" class='col-2'>Active</th>
            <th scope="col" class='col-2'>Action</th>
          </tr>
        </thead>
        <tbody id='booking-policy-tbody'>		
        </tbody>
	</table>
      </div>
    </div>

    <script>
    	management.var.csrf_token = '{{ csrf_token }}';
        management.load_booking_policy_options();
    	management.load_booking_policys();
    </script>

<div class="modal fade" id="EditBookingPolicyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Booking Policy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id='booking-policy-popup-error' style='display:none'>

        </div>
	<div class="alert alert-success" role="alert" id='booking-policy-popup-success' style='display:none'>

        </div>
        <form>

		
         <div class='col-12 pb-3 pt-3'>
               <div class='row'>
                   <div class='col-12'>
                         <input class="form-check-input" type="checkbox" value="" id="no-policy">
                         <label class="form-check-label" for="flexCheckDefault">
                            No Policy 
                         </label>
                   </div>
             </div>
         </div>
        <div id='booking-policy-details'>

        <div class='col-12 round-box px-3 ' id='normal-policy'>
            <div class='row'>
                   <div class='col-12'>
                        <label for="" class="form-label">Policy Name</label>
                        <input type="text" class="form-control" id="policy-name" value="" autocomplete="off">
                   </div>
                   <div class='col-12'>
                        <label for="" class="form-label">Policy Type</label>
                        <select class="form-select" aria-label="" id="policy-type">
                        </select>
                   </div>

                   <div class='col-12'>
                        <label for="" class="form-label">Amount</label>
                        <input type="text" class="form-control" id="policy-amount" value="" autocomplete="off">
                   </div>

                   <div class='col-12'>
                        <label for="" class="form-label">Grace Time</label>
                        <input type="number" class="form-control" id="policy-grace-time" value="" autocomplete="off">
                   </div>
                   <div class='col-12'>
			<br>
		   </div>
                   <div class='col-12'>
                         <input class="form-check-input" type="checkbox" value="" id="policy-arrival-enabled">
                         <label class="form-check-label" for="flexCheckDefault">
                                  Limit cancellation fee to period before arrival. 
                         </label>
                   </div>
                   <div class='col-12'>
                        <label for="" class="form-label">Arrival Time</label>
                        <input type="number" class="form-control" id="policy-arrival-time" value="" autocomplete="off">
                   </div>
            </div>
         </div>

         <div class='col-12 pb-3 pt-3' >
               <div class='row'>
                   <div class='col-12'>
                         <input class="form-check-input" type="checkbox" value="" id="peak-policy-enabled">
                         <label class="form-check-label" for="flexCheckDefault">
                             Peak Policy Enabled 
                         </label>
                   </div>
             </div>
         </div>

         <div class='col-12 round-box px-3 ' style='display:none' id='peak-policy-options'>
                <div class='row'>
                   <div class='col-12'>
                        <label for="" class="form-label">Peak Policy Type</label>
                        <select class="form-select" aria-label="" id="peak-policy-type">
                        </select>
                   </div>
                   <div class='col-12'>
                        <label for="" class="form-label">Peak Group</label>
                        <select class="form-select" aria-label="" id="peak-policy-group">
                        </select>
                   </div>
                   <div class='col-12'>
                        <label for="" class="form-label">Peak Amount</label>
                        <input type="text" class="form-control" id="peak-policy-amont" value="" autocomplete="off">
                   </div>
                   <div class='col-12'>
                        <label for="" class="form-label">Policy Grace Time</label>
                        <input type="number" class="form-control" id="peak-policy-grace-time" value="" autocomplete="off">
                   </div>
                   <div class='col-12'>
                       <br>
                   </div>
                   <div class='col-12'>
                         <input class="form-check-input" type="checkbox" value="" id="peak-policy-arrival-enabled">
                         <label class="form-check-label" for="flexCheckDefault">
                                  Limit cancellation fee to period before arrival.
                         </label>
                   </div>
                   <div class='col-12'>
                        <label for="" class="form-label">Arrival Time</label>
                        <input type="number" class="form-control" id="peak-policy-arrival-time" value="" autocomplete="off">
                   </div>
               </div>
          </div>         

          <div class='col-12 round-box px-3 '>
                <div class='row'>
                   <div class='col-12'>
                        <label for="" class="form-label">Status</label>
                        <select class="form-select" aria-label="" id="policy-active">
		           <option value="true">Active</option>
			   <option value="false">Inactive</option>
			</select>
                   </div>
               </div>
         </div>
         </div>

         <div class='col-12 px-3'>
                   <div class='col-12'>
                            <div class='col-12'>
                            <label for="" class="form-label">&nbsp;</label>
                            </div>
                            <div class='col-12 text-end'>
		            <button type="button" class="btn btn-primary booking-policy-save" id='create-policy-btn' button-data='{"action": "create"}'>Create</button>
                            <button type="button" class="btn btn-primary booking-policy-save" id='save-policy-btn' button-data='{"action": "save"}'>Save</button>
                            &nbsp;&nbsp;
                            <div class="spinner-border text-primary" role="status" style="display:none" id="bookingpolicy-loader-popup">
                                 <span class="visually-hidden">Loading...</span>
                            </div>&nbsp;&nbsp;&nbsp;
                            </div>
                   </div>
            </div>
        </div>         
      </div>
      </form>
 
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script>
$( ".create-booking-policy" ).click(function() {
management.var.booking_policy_id_selected = null;

$('#create-policy-btn').show();
$('#save-policy-btn').hide();	

var nopolicy = $('#no-policy');
var policyname = $('#policy-name');
var policytype = $('#policy-type');
var policyamount = $('#policy-amount');
var policygracetime = $('#policy-grace-time');
var peakpolicyenabled = $('#peak-policy-enabled');
var peakpolicytype = $('#peak-policy-type');
var peakpolicygroup = $('#peak-policy-group');
var peakpolicyamont = $('#peak-policy-amont');
var peakpolicygracetime = $('#peak-policy-grace-time');
var policyactive = $('#policy-active');

nopolicy.val("");
policyname.val("");
policytype.val("");
policyamount.val("");
policygracetime.val("0");
peakpolicyenabled.prop('checked', false);
peakpolicytype.val("");
peakpolicygroup.val("");
peakpolicyamont.val("");
peakpolicygracetime.val("");
policyactive.val("true");	

nopolicy.prop('disabled', false);
policyname.prop('disabled', false);
policytype.prop('disabled', false);
policyamount.prop('disabled', false);
policygracetime.prop('disabled', false);
peakpolicyenabled.prop('disabled', false);
peakpolicytype.prop('disabled', false);
peakpolicygroup.prop('disabled', false);
peakpolicyamont.prop('disabled', false);
peakpolicygracetime.prop('disabled', false);
policyactive.prop('disabled', false);
$('#peak-policy-options').hide();
$('#EditBookingPolicyModal').modal('show');
});

$( ".booking-policy-save" ).click(function() {
          console.log('booking-policy-save');
          var buttondata = $(this)[0].attributes['button-data'].value;
          var buttondata_obj = JSON.parse(buttondata);

          console.log(buttondata);
          management.save_booking_policy(buttondata_obj);
});

$("#peak-policy-enabled").click(function() {
        console.log('pci');
	var display_value = $("#peak-policy-options").css('display');
	if (display_value == 'none') { 
		$("#peak-policy-options").show();
	} else {
		$("#peak-policy-options").hide();
		console.log(display_value);
	}
});

$("#no-policy").click(function() {

        var nopolicy_check = $("#no-policy").prop('checked');
        var policyname = $('#policy-name');
	var policytype = $('#policy-type');


        if (nopolicy_check == true) { 
           $('#booking-policy-details').hide();
	   policyname.val("No Policy");
	   policytype.val(0);


        } else {
 	   $('#booking-policy-details').show();
	   policyname.val("");
        }

});



	</script>
{% endblock %}
