{% extends 'ps/base.html' %}
{% load static %}
{% load forms %}
{% block content %}
{% csrf_token %}

    <div class="container">
        <div class="alert alert-danger" role="alert" id='group-flat-error' style='display:none'>
        </div>
        <div class="alert alert-success" role="alert" id='group-flat-success' style='display:none'>
        </div>
        <div style='padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;     
    margin: 1rem -.75rem 0;
    border: 1px solid #dee2e6;'>
        <div class='row'>
            <div class='col-6'>
               <h3>Peak Groups</h3> 
            </div>
            <div class='col-6 text-end'>
		 <button type="button" class="btn btn-primary" data-bs-backdrop="static" data-keyboard="false" data-bs-toggle="modal" data-bs-target="#AddPeakGroupModal" >Add Group</button>
	    </div>
            <div class='col-12'>
		&nbsp;
	    </div>
        </div>
	<table class="table table-striped">
        <thead class='table-dark'>
          <tr>
            <th scope="col" class='col-1'>#</th>
            <th scope="col" class='col-6'>Name</th>
            <th scope="col" class='col-2'>Active</th>
            <th scope="col" class='col-3'>Action</th>
          </tr>
        </thead>
        <tbody id='peak-groups-tbody'>		
        </tbody>
	</table>
      </div>
    </div>

    <script>
    	management.var.csrf_token = '{{ csrf_token }}';
    	management.load_peak_groups();
    </script>

<div class="modal fade" id="ViewPeakPeriodModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Peak Periods</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id='period-popup-error' style='display:none'>

        </div>
	<div class="alert alert-success" role="alert" id='period-popup-success' style='display:none'>

        </div>
        <div class='col-12 round-box px-3 '>

            <form>
            <div class='row'>
                   <div class='col-2'>
                        <label for="" class="form-label">Start Date</label>
                        <input type="text" class="form-control bs-datepicker" id="new-start-date" value="" autocomplete="off">
                   </div>
                   <div class='col-2'>
                        <label for="" class="form-label">End Date</label>
                        <input type="text" class="form-control bs-datepicker" id="new-end-date" value="" autocomplete="off">
                   </div>
                   <div class='col-2'>
                        <label for="" class="form-label">Status</label>
                        <select class="form-select" aria-label="" id="new-active">
		           <option value="true">Active</option>
			   <option value="false">Inactive</option>
			</select>
                   </div>
                   <div class='col-2'>
                            <div class='col-12'>
                            <label for="" class="form-label">&nbsp;</label>
                            </div>
                            <div class='col-12'>
                            <button type="button" class="btn btn-primary peakcreate" button-data='{"action": "create"}'>Create</button>

                            <div class="spinner-border text-primary" role="status" style="display:none" id="peakperiod-loader-create">
                                 <span class="visually-hidden">Loading...</span>
                            </div>&nbsp;&nbsp;&nbsp;
                            </div>
                   </div>
            </div>
            </form>
        </div>         

        <table class="table table-striped">
            <thead class='table-dark'>
              <tr>
                <th scope="col" class='col-1'>#</th>
                <th scope="col" class='col-3'>Start</th>
                <th scope="col" class='col-3'>End</th>
                <th scope="col" class='col-2'>Active</th>
	        <th scope="col" class='col-2'>Action</th>
              </tr>
            </thead>
            <tbody id='peak-periods-tbody'>
            </tbody>
        </table>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id='period-close-modal' data-bs-dismiss="modal">Close</button>
        <div class="spinner-border text-primary" role="status" style='display:none' id='peakgroup_progress_loader'>
                  <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="AddPeakGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Peak Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<div class="alert alert-danger" role="alert" id='popup-error' style='display:none'>
		        
	</div>

        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Group Name:</label>
            <input type="text" class="form-control" id="group-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Status:</label>
            <select class="form-select" aria-label="" id='peak-status'>
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id='group-close-modal' data-bs-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary peak-group-create" ooionclick="management.save_peak_group();" button-data='{"action": "create"}'>Save</button>
	<div class="spinner-border text-primary" role="status" style='display:none' id='peakgroup_progress_loader_create'>
		  <span class="visually-hidden">Loading...</span>
	</div>
      </div>
    </div>
  </div>
</div>
	<script>
var exampleModal = document.getElementById('AddPeakGroupModal');
exampleModal.addEventListener('show.bs.modal', function (event) {
  //$('#AddPeakGroupModal').modal({backdrop: 'static', keyboard: false,  dismissible: false});
  $('#group-name').val("");
  $('#peak-status').val("true");
});


var ViewPeakPeriodModal = document.getElementById('ViewPeakPeriodModal');
ViewPeakPeriodModal.addEventListener('show.bs.modal', function (event) {
	  var button = event.relatedTarget;
	  var databutton = button.getAttribute('data-button');
	  $('#popup-error').hide();
	  $('#popup-error').html('');
	  $('#new-start-date').val('');
          $('#new-end-date').val('');
	  $('#new-active').val('true');

	  var databutton_obj = JSON.parse(databutton);
	  management.load_peak_periods(databutton_obj['id']);
});

$( ".peakcreate" ).click(function() {
          console.log('peakcreate');
          var buttondata = $(this)[0].attributes['button-data'].value;
          var buttondata_obj = JSON.parse(buttondata);

          console.log(buttondata);
          management.save_peak_period(buttondata_obj);
});

$( ".peak-group-create" ).click(function() {
          console.log('peakcreate');
          var buttondata = $(this)[0].attributes['button-data'].value;
          var buttondata_obj = JSON.parse(buttondata);

          console.log(buttondata);
          management.save_peak_group(buttondata_obj);
});


	</script>
{% endblock %}
